<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
                <p>Please enter all mandatory (<span class="asterisk">*</span>) fields.</p>
	        </div>
			<div id="id_create_license" class="alert_license_success hide">License Added.
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			</div>	
			<div id="id_update_license" class="alert_license_success hide">License Updated.
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			</div>	
			<div id="id_archive_license" class="alert_license_success hide">License Archived.
			    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			</div>
	       
	        	<%= form_for @license, :html=>{:class=>"form_validation"}, :remote=>true  do |f| %>
				 <div class="panel-body">
					<%= f.hidden_field :school_id, :value=>@school_id %>
					<div id="errorbox">	
					    <%= render "shared/error_messages", :object=>@license %>
					</div>
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group">
 				     		   <%= f.label :license_batch_name, "License Batch Name", :class=>"control-label" %><span class="asterisk">*</span>
 				     		   <%= f.text_field :license_batch_name, :required=>true, :class=>"form-control" %>
		                	</div>
						</div>
					</div>
					<div class="row">
		                <div class="col-sm-3">
		                    <div class="form-group">
 				     		   <%= f.label :no_of_licenses, "Number Of Licenses", :class=>"control-label" %><span class="asterisk">*</span>
							   <% if action_name.eql?('edit') %>
 				     		       <%= f.text_field :no_of_licenses, :required=>true, :class=>"form-control", :readonly=>true %>
							   <%else%>
							       <%= f.text_field :no_of_licenses, :required=>true, :class=>"form-control"%>
							   <%end%>	   
		                	</div>
						</div>
					    <div class="col-sm-3">
		                    <div class="form-group">
				     		    <%= f.label :expiry_date, "License Expiration date", :class=>"control-label" %><span class="asterisk">*</span>
							    <div class="input-group">
				     		        <%= f.text_field :expiry_date, :required=>true, :class=>"form-control date-picker-margin", :placeholder=>"yyyy-mm-dd",:id=>"datepicker", :readonly=>true %>
   			                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
   			                    </div>
		                    </div>
		                </div>
		            </div>
			</div>
	        <div class="panel-footer" data-no-turbolink>
				<% if action_name.eql?('new') || action_name.eql?('create') %>
	                <%= f.submit "Save", class: "btn btn-primary btn-xs", data: { disable_with: 'Saving...' }%>
			        <%if current_user.role.name.eql?('Web Admin')%>
					    <%= link_to 'Return to School List', schools_path, class: "btn btn-white btn-xs"%>
					<%else%>
					    <%= link_to 'Return to School List', school_path(current_user.school_id), class: "btn btn-white btn-xs"%>
					<%end%>
				<%else%>
				    <%= f.submit "Update", class: "btn btn-primary btn-xs", data: { disable_with: 'Saving...' }%>
			        <%if current_user.role.name.eql?('Web Admin')%>
					    <%= link_to 'Cancel', schools_path, class: "btn btn-white btn-xs"%>
					<%else%>
					    <%= link_to 'Cancel', school_path(current_user.school_id), class: "btn btn-white btn-xs"%>
					<%end%>
				<%end%>	
		        
	        </div>
			<% end %>
	    </div>
    </div>       
</div>
<script type="text/javascript">
$(document).ready(function() {
	showHideMenu('li_school');
	<% unless current_user.is_web_admin?%>
	  showHideMenu('li_options');	
	<%end%>
	$('#id_create_license').removeClass('show').addClass('hide');
	$('#id_update_license').removeClass('show').addClass('hide');
	$('#id_archive_license').removeClass('show').addClass('hide');	
});
</script>
	