<div class="col-md-7">
    <div class="signin-info">
        <div class="logopanel">
            <!-- <h1><span>[</span> BTG <span>]</span></h1> -->
			<%= image_tag("app_icon.png", :class=>"logo_image")%>
        </div>
		<div class="mb20"></div>
            <h5><strong>Welcome to Books That Grow Admin Portal!</strong></h5>
                <ul>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Web Admin Portal </li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> School Admin Login</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Teacher Login</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Classroom Management</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Student Management</li>
                    <!-- <li><i class="fa fa-arrow-circle-o-right mr5"></i> Client ip = <%#= request.remote_ip %></li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Server ip = <%#= local_ip %></li> -->
                </ul>
         <div class="mb20"></div>
   </div>
</div>
<div class="col-md-5">
    <%= form_for(:session, url: sessions_path, :html => { :class => "form_validation"}) do |f| %>
        <h4 class="nomargin">Sign In</h4>
        <p class="mt5 mb20">Login to access your account.</p>
        <%= f.text_field :email, :class => "form-control uname", :required=>true, :placeholder=>"Email"%>                          	       <%= f.password_field :password, :class => "form-control pword", :required=>true, :placeholder=>"Password" %>
		<%= link_to 'Forgot password', forgot_password_path%>
		<%= f.submit "Sign in", :class => "btn btn-success btn-block", :id=>"signin_btn" %>
    <% end %>
</div>




