<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	        	<%#=unless @school.blank?%>
	  			<!-- <span class="top-school-heading"><%#= @school.name + " (" + @school.code + ")" %></span> -->
				<%#=end%>
	            <p>Please enter all mandatory (<span class="asterisk">*</span>) fields.</p>
	        </div>
	        <div class="panel-body">
				<%= form_for(@classroom, :html=>{:class=>"form_validation classroom_form"} ) do |f| %>
				    <%=f.hidden_field :school_id, :value=>@school.id%>
					<div id="errorbox">	
					    <%= render "shared/error_messages", :object=>@classroom %>
					</div>
	                <div class="row">
						<% if action_name.eql?("edit") || action_name.eql?("update")%> 
	                    <div class="col-sm-3">
	                        <div class="form-group">
	                    	    <%= f.label :code, "Class Code", :class=>"control-label" %> </br>
	                    	    <%= @classroom.code %>
	                        </div>
	                    </div>
						<%end%>
	                    <div class="col-sm-6">
	                        <div class="form-group">
			     		        <%= f.label :name, "Class Name", :class=>"control-label" %><span class="asterisk">*</span>
			     		        <%= f.text_field :name, :autofocus => true, :required=>true, :class=>"form-control" %>
	                        </div>
	                    </div>
	               </div>
	               <% if action_name.eql?("edit")%> 
				   <div class="row">
						<!-- <div class="col-sm-3">
	                        <div class="form-group">
	                    	    <%#= label_tag "teachers_count", "Number Of School Admins", :class=>"control-label" %> : 
								            <%#= @classroom.users.un_archived.school_admins.count %>
	                        </div>
	                    </div> -->
						<div class="col-sm-3">
	                        <div class="form-group">
	                    	    <%= label_tag "teachers_count", "Number Of Teachers", :class=>"control-label" %> : 
								            <%= hidden_field_tag "teachers_count",  @classroom.users.un_archived.teachers.count + @classroom.users.un_archived.school_admins.count%>
                            <div id="old_teachers_count">
                              <%= @classroom.users.un_archived.teachers.count + @classroom.users.un_archived.school_admins.count %>
                            </div>
                          </div>
	                    </div>
						<div class="col-sm-6">
	                        <div class="form-group">
			     		            <%= label_tag "students_count", "Number Of Students", :class=>"control-label" %> :
                          <%= hidden_field_tag "students_count", @classroom.users.un_archived.students.count %>
                          <div id="old_students_count">
								            <%= @classroom.users.un_archived.students.count %>
                          </div>
	                        </div>
	                    </div>
	               </div>
				   <%end%>
	               <!-- <div class="row">
				       <div class="col-sm-3">
	                       <div class="form-group">
	                           <%#= f.label :school_year_start_date, "School Start Year", :class=>"control-label" %>
							   <%#=unless f.object.school_year_start_date.blank? %>
	                    	       <%#=f.select(:school_year_start_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School Start Year", :selected=>f.object.school_year_start_date.year}, {:class => "form-control"} )%>
							   <%#=else%>
							       <%#=f.select(:school_year_start_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School Start Year"}, {:class => "form-control"} )%>
							   <%#=end%>	   
	                       </div>
	                   </div>
					   <div class="col-sm-3">
	                       <div class="form-group">
			     	           <%#= f.label :school_year_end_date, "School End Year", :class=>"control-label" %>
							   <%#=unless f.object.school_year_end_date.blank? %>
			     		           <%#=f.select(:school_year_end_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School End Year", :selected=>f.object.school_year_end_date.year}, {:class => "form-control"} )%>
							   <%#=else%>
							       <%#=f.select(:school_year_end_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School End Year"}, {:class => "form-control"} )%>
							   <%#=end%>	
							   <div id="id_end_msg" style="display:none" class="error">End date should be greater than start date</div>   	                       </div>
	                   </div>
	              </div> -->
				  <%= hidden_field_tag 'selected_ids', @assigned_teachers.map{|c| c.id }  %>
	  		        <div class="row">
	                <div class="col-sm-9">
	                  <div class="form-group">
	                    <%#= label_tag "teachers", "Teachers", :class=>"control-label form-lable-multiselect" %>
								      <div class="listbox-alig left-listbox" id="assigned_div">
                        <span class="multi-select-heading"> Assigned Teachers: </span>
								        <%= select_tag :already_assigned_id, options_for_select(@school_specific_teachers.collect {|m| [ m.get_full_name, m.id ] }),{:size=>"8", :multiple=>"multiple"}%>
                        <a href=javascript:void(0) class="clear-selected-classes btn btn-success btn-xs multiselect-btns" disabled="disabled">Clear all</a>
								      </div>
	                    <div class="assign_arrows">
	                      <a href="#Remove" class="remove btn disable-remove"> > </a><br />
	                      <a href="#Add" class="add btn disable-add"> < </a>
	                    </div>
	                    <div class="listbox-alig right-listbox" id="all_div">
                        <span class="multi-select-heading">Teachers: </span>
                        <%= select_tag :all_present_id, options_for_select(@school_specific_teachers.collect {|m| [  m.get_full_name , m.id] }),{:size=>"8", :multiple=>"multiple"}%>
                        <a href=javascript:void(0) class="add-all-classes btn btn-success btn-xs multiselect-btns"  disabled="disabled">Add all</a>
							        </div>
	                  </div>
	                </div>
	  		        </div>
                <br><br><br><br>
  				  <%= hidden_field_tag 'student_selected_ids', @assigned_students.map{|c| c.id }  %>
  	  		      <div class="row">
  	                <div class="col-sm-9">
  	                    <div class="form-group">
								          <%#= label_tag "studnts", "Students", :class=>"control-label form-lable-multiselect" %>
  	                      <div class="listbox-alig left-stud-listbox" id="student_assigned_div">
  	                        <span class="multi-select-heading"> Assigned Students: </span>
                            <%= select_tag :student_assigned_id, options_for_select(@school_specific_students.collect {|m| [  m.get_full_name , m.id] }),{:size=>"8", :multiple=>"multiple"}%>
                            <a href=javascript:void(0) class="clear-selected-classes-stud btn btn-success btn-xs multiselect-btns"  disabled="disabled">Clear all</a>
								          </div>
  	                      <div class="assign_arrows">
  	                        <a href="#Remove" class="remove_stud btn stud-disable-remove"> > </a><br />
  	                        <a href="#Add" class="add_stud btn stud-disable-add"> < </a>
  	                      </div>
  	                      <div class="listbox-alig right-stud-listbox" id="all_student_div">
                            <span class="multi-select-heading">Students: </span>
                            <%= select_tag :all_student_id, options_for_select(@school_specific_students.collect {|m| [  m.get_full_name , m.id] }),{:size=>"8", :multiple=>"multiple"}%>
                            <a href=javascript:void(0) class="add-all-classes-stud btn btn-success btn-xs multiselect-btns"  disabled="disabled">Add all</a>
  	                      </div>
  	                    </div>
  	                  </div>
  	  		          </div>
			          </div>  
	      
        <div class="panel-footer" data-no-turbolink>
				<% if action_name.eql?('new') || action_name.eql?('create') %>
	        <%= f.submit "Save", class: "btn btn-primary btn-sm btn-xs save-btns", data: { disable_with: 'Saving...' } %>
					<%= link_to 'Cancel', classrooms_path(:school_id=>@school.id), class: "btn btn-white btn-xs"%>
				<%else%>
				    <%= f.submit "Update", class: "btn btn-primary btn-sm btn-xs save-btns", data: { disable_with: 'Updating...' } %>
					  <%= link_to 'Cancel', classrooms_path(:school_id=>@school.id), class: "btn btn-white btn-xs"%>
				<%end%>	
		   </div>
 	       <% end %>
	</div>    
</div>

<script type="text/javascript">
	showHideMenu('li_school');
	<% unless current_user.is_web_admin?%>
	  showHideMenu('li_options');	
	<%end%>

// select/de-select classrooms while add/edit school-admin,teacher,student
// select/de-select users while add/edit classroom
$(function () {
  $('select#already_assigned_id').listbox({'searchbar': true});
  $('select#all_present_id').listbox({'searchbar': true});
});

$(function () {
  $('select#student_assigned_id').listbox({'searchbar': true});
  $('select#all_student_id').listbox({'searchbar': true});
});

  function enable_disable_clear_btn()
  { 
    var selected_teacher = $("#already_assigned_id option:not(.hide)");
    var count_selected_teacher = 0;
    selected_teacher.each(function(i){
      count_selected_teacher++;
    });
    if(count_selected_teacher > 0)
    { 
      $(".clear-selected-classes").removeAttr('disabled');
    }
    else if(count_selected_teacher <= 0)
    {
      $(".clear-selected-classes").attr('disabled', 'true'); 
    }
  }

  function enable_disable_add_btn()
  {
    var all_teacher = $("#all_present_id option:not(.hide)");
    var count_all_teacher = 0;
    all_teacher.each(function(i){
      count_all_teacher++;
    });
    if(count_all_teacher > 0)
    { 
      $(".add-all-classes").removeAttr('disabled');
    }
    else if(count_all_teacher <= 0)
    {
      $(".add-all-classes").attr('disabled', 'true'); 
    }
  }

  function enable_disable_clear_btn_stud()
  {
    var selected_student = $("#student_assigned_id option:not(.hide)");
    var count_selected_student = 0;
    selected_student.each(function(i){
      count_selected_student++;
    });
    if(count_selected_student > 0)
    { 
      $(".clear-selected-classes-stud").removeAttr('disabled');
    }
    else if(count_selected_student <= 0)
    {
      $(".clear-selected-classes-stud").attr('disabled', 'true'); 
    }
  }

  function enable_disable_add_btn_stud()
  {
    var all_student = $("#all_student_id option:not(.hide)");
    var count_all_student = 0;
    all_student.each(function(i){
      count_all_student++;
    });
    if(count_all_student > 0)
    { 
      $(".add-all-classes-stud").removeAttr('disabled');
    }
    else if(count_all_student <= 0)
    {
      $(".add-all-classes-stud").attr('disabled', 'true'); 
    }
  }

$(document).ready(function() {

  // Teachers and School Admins
  var class_specific_teachers = [];
  var school_user_specific_classrooms = [];
  var school_specific_teachers = [];

  school_user_specific_classrooms = <%=@school_user_specific_classrooms%>
  class_specific_teachers = <%=@class_specific_teachers%>
  school_specific_teachers = <%=@school_teachers%>

  //alert(jQuery.isArray(school_user_specific_classrooms));
  if(school_user_specific_classrooms.length >0)
  {
    $.each( school_user_specific_classrooms, function( key, value ) {
      $("#already_assigned_id option[value='"+value+"']").removeAttr("selected").addClass('hide');
      $('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").addClass('hide');
    });
  }
  else
  {	
    if(<%= action_name.eql?('edit') || action_name.eql?('update')%>)  
    {
      $.each( school_specific_teachers, function( key, value ) {
 	      $("#already_assigned_id option[value='"+value+"']").removeAttr("selected").removeClass('hide').addClass('show');
        $('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('hide').addClass('show');
      });
    }
    else
    {
      $.each( school_specific_teachers, function( key, value ) {
        $("#already_assigned_id option[value='"+value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
      });
    }
  }
  if(class_specific_teachers.length > 0)
  {
    $.each( class_specific_teachers, function( key, value ) {
      $("#all_present_id option[value='"+value+"']").removeAttr("selected").addClass('hide');
      $('.right-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").addClass('hide');
    });
  }

  // Code for qtip
  $('.lbjs-item').each(function() {
         $(this).qtip({
            content: {
                text: function(event, api) {
                    $.ajax({
                        url: "<%=url_for :controller => 'users', :action => 'get_user_info'%>",
                        data: {id: $(this).attr("user_id")} 
                    })
                    .then(function(content) {
                        // Set the tooltip content upon successful retrieval
                        api.set('content.text', content);
                    }, function(xhr, status, error) {
                        // Upon failure... set the tooltip content to error
                        api.set('content.text', status + ': ' + error);
                    });
        
                    return 'Loading...'; // Set some initial text
                }
            },
            position: {
                viewport: $(window)
            },
            style: 'qtip-wiki'
         });
     });
	 
	 $( ".list_item_img" ).on("click",function(){
		 $.ajax({
         	url: "<%=url_for :controller => 'users', :action => 'show_user_data'%>",
            data: {id: $(this).parent().attr("user_id")},
			success: function(data) {
				window.open(data, '_blank')
			}
     	});          
	});


  $(".clear-selected-classes").click(function(e) {
    var selectedOpts =  $("#already_assigned_id option:not(.hide)");
      selectedOpts.each(function(i){
        $('.right-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('hide').addClass('show');
        $("#all_present_id option[value='"+this.value+"']").removeAttr("selected").removeClass('hide').addClass('show');
        $("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $('.left-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('show').addClass('hide');
      });
      
      $("#selected_ids").val("");
      $('.disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
      $('.right-listbox.disable-add').unbind('click', false);
      enable_disable_clear_btn();
      enable_disable_add_btn();
      enable_disable_remove_arrow();
      enable_disable_add_arrow();
      $('#teachers_count').val("0");
      $("#old_teachers_count").text($("#teachers_count").val());
  }); 

  $(".add-all-classes").click(function(e) {
    selected_ids = [];
    var selectedOpts =  $("#all_present_id option:not(.hide)");
      selectedOpts.each(function(i){
        $('.left-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('hide').addClass('show');
        $("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('hide').addClass('show');
        $("#all_present_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $('.right-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('show').addClass('hide');
        selected_ids.push(this.value);
        $('#teachers_count').val(parseInt($('#teachers_count').val()) + 1);
      });
      
      $("#selected_ids").val($.merge($("#selected_ids").val().split(" "), selected_ids).join(" "));
      $('.disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
      $('.right-listbox.disable-add').unbind('click', false);
      enable_disable_clear_btn();
      enable_disable_add_btn();
      enable_disable_remove_arrow();
      enable_disable_add_arrow();
      $("#old_teachers_count").text($("#teachers_count").val());
  }); 

  $('.remove').click(function(e) {
    selected_ids = [];
    remove_selected_ids = [];
    selected_ids = $("#selected_ids").val().split(" ");
      
    var selectedOpts = $('#already_assigned_id option:selected').clone();
    selectedOpts.each(function(i){
      $('.right-listbox .lbjs-item[user_id='+this.value+']').attr('selected',true).removeClass('hide').addClass('show');
      $("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
      $("#all_present_id option[value='"+this.value+"']").attr('selected',true).removeClass('hide').addClass('show');
      remove_selected_ids.push(this.value);
      selected_ids.removeByValue(this.value);
    });

    $.each( remove_selected_ids, function( key, value ) {
        $('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
        $('#teachers_count').val(parseInt($('#teachers_count').val()) - 1);
      }); 
    $("#selected_ids").val(selected_ids.join(" "));
    $('.disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
    $('.right-listbox.disable-add').unbind('click', false);
    if($("#already_assigned_id option:selected").length > 0)
    {
      $('.disable-add').removeClass("diasble-arrors").addClass("enable-arrors");
      $('.right-listbox.disable-add').unbind('click', false);
    }   
    enable_disable_clear_btn();
    enable_disable_add_btn();
    enable_disable_remove_arrow();
    enable_disable_add_arrow(); 
    $("#old_teachers_count").text($("#teachers_count").val());
  });

  $('.add').on('click', function(){
      selected_ids = [];
      var selectedOpts = $('#all_present_id option:selected').clone();
      selectedOpts.each(function(i){
        $('.left-listbox .lbjs-item[user_id='+this.value+']').attr('selected',true).removeClass('hide').addClass('show');
        $("#all_present_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $("#already_assigned_id option[value='"+this.value+"']").attr('selected',true).removeClass('hide').addClass('show');
        selected_ids.push(this.value);
      });
      $.each( selected_ids, function( key, value ) {
        $('.right-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
        $('#teachers_count').val(parseInt($('#teachers_count').val()) + 1);
      });
    $("#selected_ids").val($.merge($("#selected_ids").val().split(" "), selected_ids).join(" "));
    $('.disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
    $('.right-listbox.disable-add').unbind('click', false);
    if($("#all_present_id option:selected").length > 0)
    {
      $('.disable-remove').removeClass("diasble-arrors").addClass("enable-arrors");
      $('.left-listbox.disable-remove').unbind('click', false);
    }
    enable_disable_clear_btn();
    enable_disable_add_btn();
    enable_disable_remove_arrow();
    enable_disable_add_arrow();
    $("#old_teachers_count").text($("#teachers_count").val());
  });
  
    enable_disable_add_btn();
    enable_disable_clear_btn();
    enable_disable_remove_arrow();
    enable_disable_add_arrow();


  
  	// Students
  	var class_specific_students = [];
  	var school_student_specific_classrooms = [];
  	var school_specific_students = [];

  	school_student_specific_classrooms = <%=@school_student_specific_classrooms%>
  	class_specific_students = <%=@class_specific_students%>
  	school_specific_students = <%=@school_students%>

  	//alert(jQuery.isArray(school_user_specific_classrooms));
  	if(school_student_specific_classrooms.length >0)
  	{
  	  $.each( school_student_specific_classrooms, function( key, value ) {
        $("#student_assigned_id option[value='"+value+"']").removeAttr("selected").addClass('hide');
        $('.left-stud-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").addClass('hide');
      });
 	}
 	else
 	{	
    if(<%= action_name.eql?('edit') || action_name.eql?('update')%>)  
    {
 		  $.each( school_specific_students, function( key, value ) {
 		    $("#student_assigned_id option[value='"+value+"']").removeAttr("selected").removeClass('hide').addClass('show');
        $('.left-stud-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('hide').addClass('show');
      });
    }
    else
    {
      $.each( school_specific_students, function( key, value ) {
        $("#student_assigned_id option[value='"+value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $('.left-stud-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
      });
    }
 	}
 	if(class_specific_students.length > 0)
  	{
  	  $.each( class_specific_students, function( key, value ) {
       $("#all_student_id option[value='"+value+"']").removeAttr("selected").addClass('hide');
       $('.right-stud-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").addClass('hide');
      });
  	}

    $(".clear-selected-classes-stud").click(function(e) {
      var selectedOpts =  $("#student_assigned_id option:not(.hide)");
      selectedOpts.each(function(i){
        $('.right-stud-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('hide').addClass('show');
        $("#all_student_id option[value='"+this.value+"']").removeAttr("selected").removeClass('hide').addClass('show');
        $("#student_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $('.left-stud-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('show').addClass('hide');
      });
      
      $("#student_selected_ids").val("");
      $('.stud-disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
      $('.right-stud-listbox.stud-disable-add').unbind('click', false);
      enable_disable_clear_btn_stud();
      enable_disable_add_btn_stud();
      enable_disable_remove_arrow_stud();
      enable_disable_add_arrow_stud();
      $('#students_count').val("0");
      $("#old_students_count").text($("#students_count").val());
  }); 

  $(".add-all-classes-stud").click(function(e) {
    student_selected_ids = [];
    var selectedOpts =  $("#all_student_id option:not(.hide)");
      selectedOpts.each(function(i){
        $('.left-stud-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('hide').addClass('show');
        $("#student_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('hide').addClass('show');
        $("#all_student_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $('.right-stud-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('show').addClass('hide');
        student_selected_ids.push(this.value);
        $('#students_count').val(parseInt($('#students_count').val()) + 1);
      });
      
      $("#student_selected_ids").val($.merge($("#student_selected_ids").val().split(" "), student_selected_ids).join(" "));
      $('.stud-disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
      $('.right-stud-listbox.stud-disable-add').unbind('click', false);

      enable_disable_clear_btn_stud();
      enable_disable_add_btn_stud();
      enable_disable_remove_arrow_stud();
      enable_disable_add_arrow_stud();
      $("#old_students_count").text($("#students_count").val());
  }); 

  	$('.remove_stud').click(function(e) {
      student_selected_ids = [];
      remove_selected_ids = [];
      student_selected_ids = $("#student_selected_ids").val().split(" ");
      
      var selectedOpts = $('#student_assigned_id option:selected').clone();
      selectedOpts.each(function(i){
      	$('.right-stud-listbox .lbjs-item[user_id='+this.value+']').attr('selected',true).removeClass('hide').addClass('show');
      	$("#student_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $("#all_student_id option[value='"+this.value+"']").attr('selected',true).removeClass('hide').addClass('show');
		    remove_selected_ids.push(this.value);
        student_selected_ids.removeByValue(this.value)
      });

      $.each( remove_selected_ids, function( key, value ) {
      	$('.left-stud-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
        $('#students_count').val(parseInt($('#students_count').val()) - 1);
  	  });	
      $("#student_selected_ids").val(student_selected_ids.join(" "));
      $('.stud-disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
	    $('.right-stud-listbox.stud-disable-add').unbind('click', false);
      if($("#already_assigned_id option:selected").length > 0)
      {
        $('.stud-disable-add').removeClass("diasble-arrors").addClass("enable-arrors");
        $('.right-stud-listbox.stud-disable-add').unbind('click', false);
      } 
      enable_disable_clear_btn_stud();
      enable_disable_add_btn_stud();
      enable_disable_remove_arrow_stud();
      enable_disable_add_arrow_stud();
      $("#old_students_count").text($("#students_count").val());
	});


    $('.add_stud').on('click', function(){
      student_selected_ids = [];
      var selectedOpts = $('#all_student_id option:selected').clone();
      selectedOpts.each(function(i){
      	$('.left-stud-listbox .lbjs-item[user_id='+this.value+']').attr('selected',true).removeClass('hide').addClass('show');
      	$("#all_student_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        $("#student_assigned_id option[value='"+this.value+"']").attr('selected',true).removeClass('hide').addClass('show');
        student_selected_ids.push(this.value);
      });
      $.each( student_selected_ids, function( key, value ) {
      	$('.right-stud-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
        $('#students_count').val(parseInt($('#students_count').val()) + 1);
	    });
	    $("#student_selected_ids").val($.merge($("#student_selected_ids").val().split(" "), student_selected_ids).join(" "));

      $('.stud-disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
	    $('.right-stud-listbox.stud-disable-add').unbind('click', false);
      if($("#all_present_id option:selected").length > 0)
      {
        $('.stud-disable-remove').removeClass("diasble-arrors").addClass("enable-arrors");
        $('.left-stud-listbox.stud-disable-remove').unbind('click', false);
      }
      enable_disable_clear_btn_stud();
      enable_disable_add_btn_stud();
      enable_disable_remove_arrow_stud();
      enable_disable_add_arrow_stud();
      $("#old_students_count").text($("#students_count").val());
	  });

    
    enable_disable_add_btn_stud();
    enable_disable_clear_btn_stud();
    enable_disable_remove_arrow_stud();
    enable_disable_add_arrow_stud();
    
  
});

Array.prototype.removeByValue = function(val) {
    for(var i=0; i<this.length; i++) {
        if(this[i] == val) {
            this.splice(i, 1);
            break;
          }
      }
  }

// Disable arrows by default, enable when clicked on left or right lists
$(document).ready(function(){
$('.disable-add').bind('click', false);
$('.disable-add').removeClass("enable-arrors").addClass("diasble-arrors");
$('.disable-remove').removeClass("enable-arrors").addClass("diasble-arrors");
$('.disable-remove').bind('click', false);

$('.stud-disable-add').bind('click', false);
$('.stud-disable-add').removeClass("enable-arrors").addClass("diasble-arrors");
$('.stud-disable-remove').removeClass("enable-arrors").addClass("diasble-arrors");
$('.stud-disable-remove').bind('click', false);

// Teachers and School Admins
$('.left-listbox').on('click','.lbjs-item',function(){
  enable_disable_remove_arrow();
});

$('.right-listbox').on('click','.lbjs-item',function(){
  enable_disable_add_arrow();
});


// Students
$('.left-stud-listbox').on('click','.lbjs-item',function(){
	enable_disable_remove_arrow_stud();
});

$('.right-stud-listbox').on('click','.lbjs-item',function(){
	enable_disable_add_arrow_stud();
});


});

function enable_disable_remove_arrow()
{
  if ($('#already_assigned_id option:selected').length > 0) 
  {
    $('.disable-remove').removeClass("diasble-arrors").addClass("enable-arrors");
    $('.left-listbox.disable-remove').unbind('click', false);
  }
  else
  { 
    $('.disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
    $('.left-listbox.disable-remove').unbind('click', true);
  }
}

function enable_disable_add_arrow()
{
  if ($('#all_present_id option:selected').length > 0) 
  {
    $('.disable-add').removeClass("diasble-arrors").addClass("enable-arrors");
    $('.right-listbox.disable-add').unbind('click', false);
  }
  else
  {
    $('.disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
    $('.right-listbox.disable-add').unbind('click', true);
  }
}

function enable_disable_remove_arrow_stud()
{
  if ($('#student_assigned_id option:selected').length > 0) 
  {
    $('.stud-disable-remove').removeClass("diasble-arrors").addClass("enable-arrors");
    $('.left-stud-listbox.stud-disable-remove').unbind('click', false);
  }
  else
  { 
    $('.stud-disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
    $('.left-stud-listbox.stud-disable-remove').unbind('click', true);
  }
}

function enable_disable_add_arrow_stud()
{
  if ($('#all_student_id option:selected').length > 0) 
  {
    $('.stud-disable-add').removeClass("diasble-arrors").addClass("enable-arrors");
    $('.right-stud-listbox.stud-disable-add').unbind('click', false);
  }
  else
  {
    $('.stud-disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
    $('.right-stud-listbox.stud-disable-add').unbind('click', true);
  }
}

</script>


