<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <!-- <h4 class="panel-title">Classroom Form</h4> -->
	            <p>Please enter all mandatory (<span class="asterisk">*</span>) fields.</p>
	        </div>
	        <div class="panel-body">
				<%= form_for(@classroom, :html=>{:class=>"form_validation classroom_form"} ) do |f| %>
				    <%=f.hidden_field :school_id, :value=>@school.id%>
					<div id="errorbox">	
					    <%= render "shared/error_messages", :object=>@classroom %>
					</div>
	                <div class="row">
						<% if action_name.eql?("edit") || action_name.eql?("update")%> 
	                    <div class="col-sm-3">
	                        <div class="form-group">
	                    	    <%= f.label :code, "Class Code", :class=>"control-label" %> </br>
	                    	    <%= @classroom.code %>
	                        </div>
	                    </div>
						<%end%>
	                    <div class="col-sm-6">
	                        <div class="form-group">
			     		        <%= f.label :name, "Class Name", :class=>"control-label" %><span class="asterisk">*</span>
			     		        <%= f.text_field :name, :autofocus => true, :required=>true, :class=>"form-control" %>
	                        </div>
	                    </div>
	               </div>
	               <% if action_name.eql?("edit")%> 
				   <div class="row">
						<div class="col-sm-3">
	                        <div class="form-group">
	                    	    <%= label_tag "teachers_count", "Number Of School Admins", :class=>"control-label" %> : 
								<%= @classroom.users.un_archived.school_admins.count %>
	                        </div>
	                    </div>
						<div class="col-sm-3">
	                        <div class="form-group">
	                    	    <%= label_tag "teachers_count", "Number Of Teachers", :class=>"control-label" %> : 
								<%= @classroom.users.un_archived.teachers.count %>
	                        </div>
	                    </div>
						<div class="col-sm-6">
	                        <div class="form-group">
			     		        <%= label_tag "students_count", "Number Of Students", :class=>"control-label" %> :
								<%= @classroom.users.un_archived.students.count %>
	                        </div>
	                    </div>
	               </div>
				   <%end%>
	               <!-- <div class="row">
				       <div class="col-sm-3">
	                       <div class="form-group">
	                           <%#= f.label :school_year_start_date, "School Start Year", :class=>"control-label" %>
							   <%#=unless f.object.school_year_start_date.blank? %>
	                    	       <%#=f.select(:school_year_start_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School Start Year", :selected=>f.object.school_year_start_date.year}, {:class => "form-control"} )%>
							   <%#=else%>
							       <%#=f.select(:school_year_start_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School Start Year"}, {:class => "form-control"} )%>
							   <%#=end%>	   
	                       </div>
	                   </div>
					   <div class="col-sm-3">
	                       <div class="form-group">
			     	           <%#= f.label :school_year_end_date, "School End Year", :class=>"control-label" %>
							   <%#=unless f.object.school_year_end_date.blank? %>
			     		           <%#=f.select(:school_year_end_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School End Year", :selected=>f.object.school_year_end_date.year}, {:class => "form-control"} )%>
							   <%#=else%>
							       <%#=f.select(:school_year_end_date, @dates.collect {|d| [d.to_s,d.to_s]}, {:prompt => "Select School End Year"}, {:class => "form-control"} )%>
							   <%#=end%>	
							   <div id="id_end_msg" style="display:none" class="error">End date should be greater than start date</div>   	                       </div>
	                   </div>
	              </div> -->
				  <%= hidden_field_tag 'selected_ids', @assigned_teachers.map{|c| c.id }  %>
	  		        <div class="row">
	                      <div class="col-sm-9">
	                          <div class="form-group">
	                              <%= label_tag "teachers", "Teachers", :class=>"control-label form-lable-multiselect" %>
								  <div class="listbox-alig left-listbox" id="assigned_div">
									  <%= select_tag :already_assigned_id, options_for_select(@assigned_teachers.collect {|m| [ m.get_full_name, m.id ] }),{:size=>"8", :multiple=>"multiple"}%>
									  <%#= select_tag "already_assigned_id", options_from_collection_for_select(@assigned_teachers, "id", "first_name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
	                              </div>
	                              <div class="assign_arrows">
	                                  <a href="#Remove" class="remove btn disable-remove"> > </a><br />
	                                  <a href="#Add" class="add btn disable-add"> < </a>
	                              </div>
	                              <div class="listbox-alig right-listbox" id="all_div">
	                              	  <%= select_tag :all_present_id, options_for_select(@school_specific_teachers.collect {|m| [  m.get_full_name , m.id] }),{:size=>"8", :multiple=>"multiple"}%>
									  <%#= select_tag "all_present_id", options_from_collection_for_select(@school_specific_teachers, "id", "first_name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
	                              </div>
	                          </div>
	                      </div>
	  		        </div>
  				  <%= hidden_field_tag 'student_selected_ids', @assigned_students.map{|c| c.id }  %>
  	  		        <div class="row">
  	                      <div class="col-sm-9">
  	                          <div class="form-group">
								  <%= label_tag "studnts", "Students", :class=>"control-label form-lable-multiselect" %>
  	                              <div class="listbox-alig left-stud-listbox" id="student_assigned_div">
  	                                  <%= select_tag :student_assigned_id, options_for_select(@assigned_students.collect {|m| [  m.get_full_name , m.id] }),{:size=>"8", :multiple=>"multiple"}%>
  	                                  <%#= select_tag "student_assigned_id", options_from_collection_for_select(@assigned_students, "id", "first_name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
  	                              </div>
  	                              <div class="assign_arrows">
  	                                  <a href="#Remove" class="remove_stud btn stud-disable-remove"> > </a><br />
  	                                  <a href="#Add" class="add_stud btn stud-disable-add"> < </a>
  	                              </div>
  	                              <div class="listbox-alig right-stud-listbox" id="all_student_div">
  	                              	  <%= select_tag :all_student_id, options_for_select(@school_specific_students.collect {|m| [  m.get_full_name , m.id] }),{:size=>"8", :multiple=>"multiple"}%>
  	                                  <%#= select_tag "all_student_id", options_from_collection_for_select(@school_specific_students, "id", "first_name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
  	                              </div>
  	                          </div>
  	                      </div>
  	  		        </div>
			</div>  
	        <div class="panel-footer" data-no-turbolink>
				<% if action_name.eql?('new') || action_name.eql?('create') %>
	                <%= f.submit "Save", class: "btn btn-primary btn-sm btn-xs save-btns", data: { disable_with: 'Saving...' } %>
					<%= link_to 'Return to Classroom List', classrooms_path(:school_id=>@school.id), class: "btn btn-white btn-xs"%>
				<%else%>
				    <%= f.submit "Update", class: "btn btn-primary btn-sm btn-xs save-btns", data: { disable_with: 'Updating...' } %>
					<%= link_to 'Cancel', classrooms_path(:school_id=>@school.id), class: "btn btn-white btn-xs"%>
				<%end%>	
		   </div>
 	       <% end %>
	</div>    
</div>

<script type="text/javascript">
	showHideMenu('li_school');
	<% unless current_user.is_web_admin?%>
	  showHideMenu('li_options');	
	<%end%>
</script>


