
<div class="panel panel-default">
	<div class="panel-body"> 
		<%= text_field_tag :text_field_search, '', :placeholder=>'Search text', :class=>"search-box" %>
		<i class="glyphicon glyphicon-search btn btn-primary btn-xs search-icon-align" id="classroom_search" title="Search Classroom" >	</i>
		<%= form_tag 'classrooms/delete_classroom' do %>
		<div class="index_page_btns" data-no-turbolink>
			<% if can? :create, :classrooms %> 
			    <%=link_to 'Add Class', new_classroom_path(:school_id=>@school.id), :class=>"btn btn-success btn-xs"%> 
			<%end%>
			<%=link_to 'List All Records', classrooms_path(:school_id=>@school.id), :class=>"btn btn-success btn-xs" if @search_flag %>
			<%=link_to 'Download Sample',"", :class=>"btn btn-success btn-xs download_sample", :"data-toggle" => "modal", :"data-target" => "#download_list_modal" %>
			<%=link_to 'Import Class List', import_list_classrooms_path(:school_id => @school.id), :class=>"btn btn-success btn-xs"%>
			<%#= link_to 'Download Sample', new_classroom_path, :class=>"btn btn-success btn-xs"%>
       		<%#= link_to 'Import Classroom List', new_classroom_path, :class=>"btn btn-success btn-xs"%>
			<%= submit_tag 'Archive', :class=>"btn btn-success btn-sm delete-classroom-list btn-xs save-btns", :id=>'delete_classroom',:disabled => true, data: { confirm: 'Are you sure?' } %>
	 	</div>
	 <div class="table-responsive">
		<table class="table class_common_table" id="classroom_table">
            <thead>
                <tr>
                	<th><%= link_to :All, 'javascript:checkAll("classroom")', :class => "lnk-typ1" %> | <%= link_to :None, 'javascript:uncheckAll("classroom")', :class => "lnk-typ2" %></th>
					<th>Class Code</th>
                    <th>Class Name</th>
					<!-- <th>School Year</th> -->
					<th>Number Of School Admins</th>
					<th>Number Of Teachers</th>
					<th>Number Of Students</th>
                    <th>Actions</th>
                 </tr>
              </thead>
              <tbody>
				 <% @classrooms.each do |classroom| %>
				    <tr class="odd gradeX" data-no-turbolink>
                 	  <td><%= check_box_tag 'classroom_ids[]', classroom.id, false, :class => "classroom-check-box" %></td>	
                      <td><%= classroom.code %></td>
                      <td>
						 <div class="quick-edit" data-col="name" data-id='<%= classroom.id%>'><%=classroom.name%></div>
						 <textarea class="invisible dynamic"></textarea>
						  <%#= link_to classroom.name, classroom_path(classroom, :school_id=>@school.id), :title=>"View Classroom Details" %></td>
					  <!-- <td>
						  <%#= unless classroom.school_year_start_date.blank? || classroom.school_year_end_date.blank? %>
						      <%#= classroom.school_year_start_date.year %> - <%#= classroom.school_year_end_date.year %>
						  <%#=end%>
				      </td> -->
					  <td><%= classroom.users.un_archived.school_admins.count %></td>
					  <td><%= classroom.users.un_archived.teachers.count %></td>
					  <td><%= classroom.users.un_archived.students.count %></td>
                      <td data-no-turbolink>
						  <% if can? :update, :classrooms %>
						      <%= link_to '<i title="Edit Class" class="fa fa-pencil"></i>'.html_safe, edit_classroom_path(:id=>classroom, :school_id=>@school.id) %> 						  
						  <%end%>
   				   	      <% if can? :destroy, :classrooms %> 
						      <%= link_to '<i title="Archive Class" class="glyphicon glyphicon-trash"></i>'.html_safe, classroom, method: :delete, data: { confirm: 'Are you sure?' } %> 
					      <%end%>
					</td>
                   </tr>
				 <% end %>
             </tbody>
    	</table>
	</div>
	    <div data-no-turbolink>
		    <%= paginate @classrooms %>
	    </div>
	<% end %>	
    </div>
</div>		  

<div class="modal fade" id="download_list_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Download Sample List</h4>
      </div>
      <div class="modal-body sample_list_links_div">
		  <div id="school_admin">
		  		<%=link_to 'Download xls format sample', download_classroom_list_classrooms_path(:format => :xls), :class=>"btn btn-success btn-xs"%>
				<%=link_to 'Download csv format sample', download_classroom_list_classrooms_path(:format => :csv), :class=>"btn btn-success btn-xs"%>
		  		<%#=link_to 'Download csv format sample', download_classroom_list_classrooms_path(:format => :csv), :class=>"btn btn-success btn-xs"%>
		  </div>
	  </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Assign</button>
      </div> -->
    </div>
  </div>
</div>		

<script type="text/javascript">
showHideMenu('li_school');
<% unless current_user.is_web_admin?%>
  showHideMenu('li_options');	
<%end%>

$.valHooks.textarea = {
    get: function(elem) {
        return elem.value.replace(/\r?\n/g, "<br/>");
    }
};

$(".quick-edit").click(function(e) {
    e.preventDefault();
    var text = $(this).text();
	text.replace("<br />", "\n");
    $(this).parent().children(".dynamic").html(text).removeClass("invisible");
    $(this).addClass("invisible");
});

$(".dynamic").keydown(function(e) {
    if (e.which === 13 && !e.shiftKey) {
        e.preventDefault();
		  var text = $(this).val();
          update_on_quick_edit($(this));
  		  $(this).parent().children(".quick-edit").html(text).removeClass("invisible");
          $(this).addClass("invisible");
    }
});
$(".dynamic").blur(function(e) {
  var text = $(this).val();	
  update_on_quick_edit($(this));
  $(this).parent().children(".quick-edit").html(text).removeClass("invisible");
  $(this).addClass("invisible");
});

function update_on_quick_edit(this_val)
{
    var text = this_val.val();
	var edited_column_name = this_val.prev(".quick-edit").data('col');
	var edited_classroom_id = this_val.prev(".quick-edit").data('id')
	
	jQuery.get("<%= url_for(:controller => controller_name, :action=>'quick_edit_classroom')%>",{ column_name : edited_column_name, edited_value : this_val.val(), id : edited_classroom_id},
	  function(data) {  
		 if (data.status == false)
		 {
			 alert(data.message);
		 }
		 else
		 {

		 } 
	  });
}
</script>