<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<h4 class="panel-title">Classroom Information</h4>
        	</div>
        	<div class="panel-body">
            	<address>
                	<strong>Code:</strong>
                	<%= @classroom.code %>
            	</address>
            	<address>
			    	<strong>Name:</strong>
			    	<%= @classroom.name %>
            	</address>
            	<address>
			    	<strong>School Start Year:</strong>
			    	<%= @classroom.school_year_start_date.year unless @classroom.school_year_start_date.blank? %>
            	</address>
            	<address>
			    	<strong>School End Year:</strong>
			    	<%= @classroom.school_year_end_date.year unless @classroom.school_year_end_date.blank?  %>
            	</address>
            	<div data-no-turbolink>
			    	<%= link_to 'Edit', edit_classroom_path(@classroom, :school_id=>@classroom.school_id), :class=>"btn btn-success btn-xs", data: { disable_with: 'Saving...' } %>
					<%= link_to 'Cancel', classrooms_path(:school_id=>@classroom.school_id), class: "btn btn-white btn-xs"%>
        	    </div>
		    </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	showHideMenu('li_school');	
</script>