<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Books That Grow</title>
</head>
<body style="color:#000000; font-size:14px; font-family:Arial;">
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="0">
        <tr style="background:#1d2939;">
          <td width="30" id="header" style="padding:20px;">
            <a href="javscript:void(0);" >
				<%= image_tag("http://54.225.184.100/assets/logo.png")%>
			</a>
          </td>
          <td width="620" style="font-size:24px; font-weight:bold; text-transform:uppercase; padding:20px; text-align:left; color:#fff">Books That Grow</td>
        </tr>
        <tr class="episode">
          <td valign="top" colspan="2" style="padding:20px">
            <h2 style=" margin-top:0; margin-bottom:8px; font-size:18px; color:#1caf9a">Forgot password for Books That Grow.</h2>
            <p style="margin:15px 0; font-size:13px">
              Dear <%= @name %>,
            </p>
            <p style="margin:15px 0; font-size:13px">
              <p style="margin:0 0; font-size:13px">
                Username: <%= @username %>
              </p>
              <p style="margin:0 0; font-size:13px">
                Email Address: <%= @email %>
              </p>
            </p>
            <p style="margin:0 0; font-size:13px">
			 To reset password click on following
			 link: <a href = '<%= @link %>'>reset password</a>
            </p>
			<p style="margin:0 0; font-size:13px">
			  To login to the site, just follow this link: <%= @url %>
			</p>	
            <p style="margin:15px 0 0; font-size:13px">
              Thanks,
            </p>
            <p style="margin:0 0; font-size:13px">
              The Books That Grow Team
            </p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2" style="background-color:#1d2939; height:2px;"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center" style="font-size:11px; color:#555555; background:#e4e7ea ">
            <p>&copy;<%= Time.now.year %>. All Rights Reserved. Books That Grow</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>


