<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Books That Grow</title>
</head>
<body style="color:#000000; font-size:14px; font-family:Arial;">
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="0">
        <tr style="background:#1d2939;">
          <td width="30" id="header" style="padding:10px;">
            <a href="javscript:void(0);" >
				      <% image = @user_info[:app_type].blank? ? @user_info[:url] : @user_info[:portal_link]%>
				      <%= image_tag(image + "/assets/app_icon_60.png")%>
		      	</a>
          </td>
          <td width="620" style="font-size:24px; font-weight:bold; text-transform:uppercase; padding:20px; text-align:left; color:#fff">Books That Grow</td>
        </tr>
        <tr class="episode">
          <td valign="top" colspan="2" style="padding:20px">
            <!-- <h2 style=" margin-top:0; margin-bottom:8px; font-size:18px; color:#1caf9a">Forgot password for Books That Grow.</h2> -->
            <p style="margin:15px 0; font-size:13px">
              Hello <%= @user_info[:name] %>,
            </p>
            <!-- <p style="margin:15px 0; font-size:13px">
              <p style="margin:0 0; font-size:13px">
                Username: <%#= @user_info[:username] %>
              </p>
              <p style="margin:0 0; font-size:13px">
                Email Address: <%#= @user_info[:email] %>
              </p>
            </p> -->
            <%if @user_info[:role].eql?('Student') %>
              <p style="margin:15px 0; font-size:13px">
			          A request has been made to reset the Books That Grow password for <%= @user_info[:full_name] %>. To reset this password, click on the following link: <a href = '<%= @user_info[:link] %>'>reset password</a>
              </p>
              <p style="margin:15px 0; font-size:13px">
                If you believe this request was made in error or if you do not wish to reset this password, you can simply ignore this email.
              </p>
            <%else%>
              <p style="margin:15px 0; font-size:13px">
                A request has been made to reset your Books That Grow password. To reset your password, click on the following link: <a href = '<%= @user_info[:link] %>'>reset password</a>
              </p>
              <p style="margin:15px 0; font-size:13px">
                If you did not make this request and you do not wish to reset your password, you can simply ignore this email.
                <!-- <a href = '<%#= @user_info[:url] %>'>login</a> -->
              </p>
            <%end%>
			      <p style="margin:15px 0 0; font-size:13px">
              Thanks,
            </p>
            <p style="margin:15px 0; font-size:13px">
              The Books That Grow Team
            </p>
          </td>
        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2" style="background-color:#1d2939; height:2px;"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center" style="font-size:11px; color:#555555; background:#e4e7ea ">
            <p>&copy;<%= Time.now.year %>. All Rights Reserved. Books That Grow</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>


