<%if @user_info[:password_changed].blank?%>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Books That Grow</title>
</head>
<body style="color:#000000; font-size:14px; font-family:Arial;">
  <table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
    <tr><td align="center" valign="top">
      <table width="650" id="main" border="0" cellpadding="0" cellspacing="0">
        <tr style="background:#1d2939;">
          <td width="30" id="header" style="padding:10px;">
            <a href="javscript:void(0);" >
				      <%= image_tag(@user_info[:login_url] + "/assets/app_icon_60.png")%>
			      </a>
          </td>
          <td width="620" style="font-size:24px; font-weight:bold; text-transform:uppercase; padding:20px; text-align:left; color:#fff">Books That Grow</td>
        </tr>
        <tr class="episode">

          
            <td valign="top" colspan="2" style="padding:20px">
             <!--  <h2 style=" margin-top:0; margin-bottom:8px; font-size:18px; color:#1caf9a">Your Books That Grow account has been updated.</h2> -->
              <p style="margin:15px 0; font-size:13px">
                Hello <%= @user_info[:name] %>, 
              </p>
              <p style="margin:15px 0; font-size:13px">
                An administrator has updated your Books That Grow account. 
              </p>
              <p style="margin:15px 0; font-size:13px">
                You can log in to Books That Grow using the following information.
              </p>
              <p style="margin:15px 0; font-size:13px">
                <p style="margin:0 0; font-size:13px">
                  Username: <%= @user_info[:username] %>
                </p>
                <p style="margin:15px 0; font-size:13px">
                  Email: <%= @user_info[:email] %>
                </p>
              </p> 
              <p style="margin:0 0; font-size:13px">
                To reset your password, click on the following link: <a href = '<%= @user_info[:reset_pass_url] %>'>reset password</a>
              </p>
              <p style="margin:15px 0; font-size:13px">
                If you believe this update was made in error, please immediately contact your school administrator.
              </p>
              <p style="margin:15px 0 0; font-size:13px">
                Thanks,
              </p>
              <p style="margin:15px 0; font-size:13px">
                The Books That Grow Team
              </p>
            </td>
          <%#=else%>
            <!-- <td valign="top" colspan="2" style="padding:20px">
              <p style="margin:15px 0; font-size:13px">
                Hello <%#= @user_info[:name] %>, 
              </p>
              <p style="margin:0 0; font-size:13px">
                Your Books That Grow password has been reset. 
              </p>
              <p style="margin:15px 0; font-size:13px">
                If you believe this was done in error, please immediately contact your school administrator and reset your password by clicking on the following link: <a href = '<%#= @user_info[:reset_pass_url] %>'>reset password</a>
              </p>
              <p style="margin:15px 0 0; font-size:13px">
                Thanks,
              </p>
              <p style="margin:15px 0; font-size:13px">
                The Books That Grow Team
              </p>
            </td> -->
          

        </tr>
        <tr>
          <td class="divider" colspan="2" bgcolor="#555555" height="2" style="background-color:#1d2939; height:2px;"></td>
        </tr>
        <tr>
          <td id="footer" colspan="2" align="center" style="font-size:11px; color:#555555; background:#e4e7ea ">
            <p>&copy;<%= Time.now.year %>. All Rights Reserved. Books That Grow</p>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</body>
</html>
<%end%>  
