<div class="panel panel-default">
    <div class="panel-body"> 
	    <div class="index_page_btns" data-no-turbolink>
		    <%= link_to 'Add Access Rights', new_accessright_path, class: "btn btn-success btn-xs"%>
	    </div>
   	 <div class="table-responsive">
   		<table class="table" id="accessright_table">
               <thead>
                   <tr>
				       <%unless @roles.blank?%>
			       	   <th>Role</th>
					   <th>Access Rights</th>
					   <th>Action</th>	
				   </tr>
               </thead>
               <tbody>
			       <% @roles.each do |role| %>
				       <tr class="gradeX odd">
					       <td><%=role.name%></td>
						   <td class="<%=role.id%>">
						       <%unless role.accessrights.blank?%>
							       <%role.accessrights.each do |x|%>
								       <li class="<%=role.id%>"><%=x.name%></li>
								   <%end%>
							   <%end%>
							</td>
							<td data-no-turbolink>
								   <%= link_to '<i title="Edit Accessright" class="fa fa-pencil"></i>'.html_safe, edit_accessright_path(role) %>
							</td>
				       </tr>
	   	      	  	<% end %>
					<% end %>
			  		</tbody>
		  		  </table>
			 </div>
    </div>
</div> 
 


  
<script type="text/javascript">
showHideMenu('li_accessright');
<% @roles.each do |role| %>
$('.<%=role.id%>:gt(4)').hide().last().after(
    $('<a />').attr('href','#').text('Show more').click(function(){
        var a = this;
        $('.<%=role.id%>:not(:visible):lt(5)').fadeIn(function(){
         if ($('.<%=role.id%>:not(:visible)').length == 0) $(a).remove();   
        }); return false;
    })
);
<%end%>
</script>