<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accessright.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accessright.description %>
</p>

<%= link_to 'Edit', edit_accessright_path(@accessright) %> |
<%= link_to 'Back', accessrights_path %>
