<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
	       <%= form_tag({controller: "users", action: "add_update_bulk_licenses"}, {method: "post", class: "form_validation"}) do %>
		   <div class="panel-body">
			   <%= hidden_field_tag :send_mail, @no_mail%>
			   <%= hidden_field_tag :role_id, params[:role_id]%>
			   <%= hidden_field_tag :user_ids, params[:selected_user_ids]%>
			   <%= hidden_field_tag :school_id, params[:id]%>

			       <div class="row">
		               <div class="col-sm-6">
		                   <div class="form-group">
					           <%= label_tag "license_id", "License", :class=>"control-label" %><span class="asterisk">*</span>
		    				   <%= select_tag "license_id", options_for_select(@licenses.collect {|m| [ m.get_license_batch_name_date, m.id ] }), {:prompt=>"Select License", :class=>"form-control class_licenses", :required=>true}%>
		    				   <%= hidden_field_tag "license_expiry_date"%>
						  </div>
		               </div>
		           </div>
			</div>
	        <div class="panel-footer" data-no-turbolink>
	            <%= submit_tag "Save", class: "btn btn-primary btn-xs"%>
				<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
	        </div>
			<% end %>
	    </div>
    </div>       
</div>


<script type="text/javascript">
$(document).ready(function () {
    $('.class_licenses').change(function() {
		$('#license_expiry_date').val($(".class_licenses :selected").text());
    });	
});
</script>
	