<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
			<%= form_for @user, :html=>{:class=>"form_validation"} do |f| %>
	            <div class="panel-body">
	        	    <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group">
			   			    	<%= f.label :first_name, :class=>"control-label"%>
			   			    	<%= f.text_field :first_name, :class=>"form-control", :readonly=>true %>
		                    </div>
		                </div>
						<div class="col-sm-6">
		                    <div class="form-group">
			   			    	<%= f.label :email, :class=>"control-label"%>
			   			    	<%= f.text_field :email, :class=>"form-control", :readonly=>true  %>
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-sm-6">
		                    <div class="form-group">
				    		    <%= f.label :password, :class=>"control-label" %><span class="asterisk">*</span>
				    			<%= f.password_field :password, :required=>true, :class=>"form-control class_password" %>
		                    </div>
		                </div>
		                <div class="col-sm-6">
		                    <div class="form-group">
				    			<%= f.label :password_confirmation, :class=>"control-label" %><span class="asterisk">*</span>
				    			<%= f.password_field :password_confirmation, :required=>true, :class=>"form-control" %>
		                    </div>
		                </div>
		            </div>
			</div>
	        <div>
	            <%= f.submit "Save", class: "btn btn-primary btn-xs"%>
				<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
	        </div>
			<% end %>
	    </div>
    </div>       
</div>
