               <div class="row">
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :first_name, "First Name", :class=>"control-label" %><span class="asterisk">*</span>
		    			    <%= f.text_field :first_name, :required=>true,  :class=>"form-control" %>
	                    </div>
	                </div>
	                <div class="col-sm-3">
	                    <div class="form-group">
			     		   <%= f.label :last_name, "Last Name", :class=>"control-label" %>
			     		   <%= f.text_field :last_name, :class=>"form-control" %>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :phone_number, "Phone Number", :class=>"control-label" %>
		    			    <%= f.text_field :phone_number, :class=>"form-control" %>
	                    </div>
	                </div>
	                <div class="col-sm-6">
	                    <div class="form-group">
		   			    	<%= f.label :email, :class=>"control-label"%><span class="asterisk">*</span>
		   			    	<%= f.text_field :email, :required=>true, :class=>"form-control email_validation" %>
							<span class="help-inline error_box"></span>
	                    </div>
	                </div>
	            </div>
				<% unless ('new').eql?action_name%>
				    <% unless (@role_id.name.eql?('Web Admin') || @user.license_expiry_date.blank?)%>
					    <div class="row">
					        <div class="col-sm-3">
						        <div class="form-group">
							        <%= f.label :license_expiry_date, "License Expiry Date", :class=>"control-label"%>
								    <%= f.text_field :license_expiry_date, :class=>"form-control", :readonly=>true %>
						        </div>
						    </div> 
				        </div>
				    <%end%>
			    <%end%>
			    <% unless ('edit').eql?action_name%>
	                <div class="row">
	                    <div class="col-sm-3">
	                        <div class="form-group">
			    		        <%= f.label :password, :class=>"control-label" %><span class="asterisk">*</span>
			    			    <%= f.password_field :password, :required=>true, :class=>"form-control class_password" %>
	                        </div>
	                    </div>
	                    <div class="col-sm-3">
	                        <div class="form-group">
			    			    <%= f.label :password_confirmation, :class=>"control-label" %><span class="asterisk">*</span>
			    			    <%= f.password_field :password_confirmation, :required=>true, :class=>"form-control" %>
	                        </div>
	                    </div>
	                </div>
			    <%end%>
				<% if @role_id.name.eql?('Student')%>
				
				
	        	    <%=f.fields_for :parents,@parent do |fb|%>     
	        		    <%=render 'parent_fields', f: fb%>
	        	    <%end%>
				    <%= link_to_add_fields "Add More Parent Details", f, :parents %>
			   
				
				<div class="row">
	            	<div class="col-sm-3">
	                	<div class="form-group">
	                    	<%= f.label :grade, "Grade Level", :class=>"control-label" %>
		    			    <%= f.select :grade, options_for_select(@reading_grades.collect {|g| [ g.grade_name, g.id ] }, :selected=>f.object.grade), {:prompt=>"Select Grade Level", :class=>"form-control"} %>
	                    </div>
	                </div>
	                <div class="col-sm-6">
	                    <div class="form-group">
	                    	<%= f.label :reading_ability, "Reading Ability", :class=>"control-label" %>
		    			    <%= f.select :reading_ability, options_for_select(@reading_grades.collect {|g| [ g.grade_name, g.id ] }, :selected=>f.object.reading_ability), {:prompt=>"Select Reading Ability", :class=>"form-control"}%>
	                    </div>
	                </div>
	            </div>
				<div class="row">
	            	<div class="col-sm-3">
	                	<div class="form-group">
				            <%= f.label :assign_reading_based_on, "Reading Based On", :class=>"control-label" %>
							<%= f.select :assign_reading_based_on, [["Grade level","grade"],["Reading Ability","reading"]], {:prompt => "Select Reading Based On"}, {:class=>"form-control"}%>
				        </div>
				    </div>
				</div>
				<% end %>
				<% if @role_id.name.eql?('Teacher')%>
				    <div class="row">
					    <div class="col-sm-3">
						    <div class="form-group">
						        <%= label_tag 'can_manage', "Can Manage Student Licenses", :class=>"control-label"%>
								<%= hidden_field_tag :accessright, 0 %>
							    <%= check_box_tag('accessright', @accessright.id,["edit"].include?(action_name) ? ( @existing_access_right.include?(@accessright.id.to_s)) : false, :class=>"class_accessright")%>
							</div>
						</div> 
				    </div>
				<%end%>
		<% unless @role_id.name.eql?('Web Admin')%>
		    <%= hidden_field_tag 'selected_ids', @assigned_classrooms.map{|c| c.id }  %>
		        <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div style="float:left;" id="assigned_div">
								<%= label_tag 'classrooms', "Classrooms", :class=>"control-label"%>
                                <%= select_tag "already_assigned_id", options_from_collection_for_select(@assigned_classrooms, "id", "name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
                            </div>
                            <div class="assign_arrows">
                                <a href="#Remove" class="remove"> Remove >> </a><br />
                                <a href="#Add" class="add"> << Add </a>
                            </div>
                            <div style="float:left;" id="all_div">
                                <%= select_tag "all_present_id", options_from_collection_for_select(@school_specific_classrooms, "id", "name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
                            </div>
                        </div>
                    </div>
		        </div>
        <%end%>
            
