               <div class="row">
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :first_name, "First Name", :class=>"control-label" %><span class="asterisk">*</span>
		    			    <%= f.text_field :first_name, :required=>true,  :class=>"form-control" %>
	                    </div>
	                </div>
	                <div class="col-sm-3">
	                    <div class="form-group">
			     		   <%= f.label :last_name, "Last Name", :class=>"control-label" %><span class="asterisk">*</span>
			     		   <%= f.text_field :last_name, :required=>true, :class=>"form-control" %>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :username, "Username", :class=>"control-label" %><span class="asterisk">*</span>
							<%= f.text_field :username, :class=>"form-control clearfix" %>
		    			    <%#= f.text_field :username, :class=>"form-control username_validation" %>
							<span class="help-inline error_box"></span>
	                    </div>
	                </div>
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :phone_number, "Phone Number", :class=>"control-label" %>
		    			    <%= f.text_field :phone_number, :class=>"form-control" %>
	                    </div>
	                </div>
				</div>	
				<% unless @role_id.name.eql?('Student')  %>
				<div class="row">	
	                <div class="col-sm-6">
	                    <div class="form-group">
		   			    	<%= f.label :email, :class=>"control-label"%><span class="asterisk">*</span>
		   			    	<%= f.text_field :email, :class=>"form-control" %>
							<%#= f.text_field :email, :class=>"form-control email_validation" %>
							<span class="help-inline error_box"></span>
	                    </div>
	                </div>
	            </div>
				<%else%>
				<div class="row">	
	                <div class="col-sm-6">
	                    <div class="form-group">
		   			    	<%= f.label :email, :class=>"control-label"%>
		   			    	<%= f.text_field :email, :class=>"form-control " %>
	                    </div>
	                </div>
	            </div> 
				<%end%>
				<% unless ('new').eql?action_name %>
				    <% unless (@role_id.name.eql?('Web Admin') || @user.license_expiry_date.blank?)%>
					    <div class="row">
					        <div class="col-sm-3">
						        <div class="form-group">
							        <%= f.label :license_expiry_date, "License Expiration Date", :class=>"control-label"%>
								    <%= f.text_field :license_expiry_date, :class=>"form-control", :readonly=>true %>
						        </div>
						    </div> 
				        </div>
				    <%end%>
			    <%end%>
			    <% unless ((('edit').eql?action_name) || (('update').eql?action_name)) %>
	                <div class="row">
	                    <div class="col-sm-3">
	                        <div class="form-group">
			    		        <%= f.label :password, :class=>"control-label" %><span class="asterisk">*</span>
			    			    <%= f.password_field :password, :required=>true, :class=>"form-control class_password class_no_space" %>
	                        </div>
	                    </div>
	                    <div class="col-sm-3">
	                        <div class="form-group">
			    			    <%= f.label :password_confirmation, :class=>"control-label" %><span class="asterisk">*</span>
			    			    <%= f.password_field :password_confirmation, :required=>true, :class=>"form-control class_no_space" %>
	                        </div>
	                    </div>
	                </div>
			    <%end%>
				<% if @role_id.name.eql?('Student')%>
				
	        	    <%=f.fields_for :parents,@parent do |fb|%>     
	        		    <%=render 'parent_fields', f: fb%>
	        	    <%end%>
					<div class="add-parent">
					    <%= link_to_add_fields "Add More Parent Details", f, :parents %>
				    </div>
				<div class="row">
	            	<div class="col-sm-6">
	                	<div class="form-group">
							<%= f.label :grade, "Grade Level", :class=>"control-label add-student-label" %>
		    			    <%= f.select :grade, options_for_select(@reading_grades.collect {|g| [ g.grade_short, g.id ] }, :selected=>f.object.grade), {:prompt=>"Select Grade Level", :class=>"form-control"} %>
	                    </div>
	                </div>
				</div>	
				<div class="row">
	                <div class="col-sm-6">
	                    <div class="form-group">
	                    	<%= f.label :reading_ability, "Reading Ability", :class=>"control-label add-student-label" %>
		    			    <%= f.select :reading_ability, options_for_select(@reading_grades.collect {|g| [ g.grade_short + " (" + g.grade_name + ") " , g.id ] }, :selected=>f.object.reading_ability), {:prompt=>"Select Reading Ability", :class=>"form-control"}%>
	                    </div>
	                </div>
	            </div>
				<div class="row">
	            	<div class="col-sm-6">
	                	<div class="form-group">
				            <%= f.label :assign_reading_based_on, "Reading Based On", :class=>"control-label add-student-label" %>
							<%= f.select :assign_reading_based_on, [["Grade level","grade"],["Reading Ability","reading"]], {:prompt => "Select Reading Based On"}, {:class=>""}%>
				        </div>
				    </div>
				</div>
                 <div class="row">
                    <div class="col-md-6">
					   <table class="">
			   			    <tr>
			   				    <td>
			   					    <div class=""><%image = ( ["edit", "update"].include?(action_name)) ? (@user.photos.blank? ? "missin.png" : @user.photos.url) : 'missin.png'  %>
			   					    <%= image_tag(image, :alt=>"your image", :class=>"student-profil-pic", :border=>"1") %>
								</div>
			   				    </td>
			   			    </tr>
			   			    <tr>
			   				    <td>
			   					    <%= f.file_field :photos, :class=>"image-file-name" %>
			   				    </td>
			   			    </tr>
			   		    </table>
                    </div> 
                </div>
				<% end %>
				<% if @role_id.name.eql?('Teacher')%>
				    <div class="row">
					    <div class="col-sm-3">
						    <div class="form-group">
						        <%= label_tag 'can_manage', "Can Manage Student Licenses", :class=>"control-label"%>
								<%= hidden_field_tag :accessright, 0 %>
							    <%= check_box_tag('accessright', @accessright.id,["edit"].include?(action_name) ? ( @existing_access_right.include?(@accessright.id.to_s)) : false, :class=>"class_accessright")%>
							</div>
						</div> 
				    </div>
				<%end%>
		<% unless @role_id.name.eql?('Web Admin')%>
		    <%= hidden_field_tag 'selected_ids', @assigned_classrooms.map{|c| c.id } %>
		        <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group margin-t-10">
							<%= label_tag 'classrooms', "Classrooms", :class=>"control-label form-lable-multiselect"%>
							<div class="listbox-alig left-listbox" id="assigned_div">
                                <!-- <span>Assigned Classrooms: </span> -->
								<%= select_tag "already_assigned_id", options_from_collection_for_select(@assigned_classrooms, "id", "name"), :class=>"classroom-info-hover", :size=>"8", :multiple=>"multiple" %>
                            </div>
                            <div class="assign_arrows">
                                <a href="#Remove" class="remove btn disable-remove"> > </a><br />
                                <a href="#Add" class="add btn disable-add"> < </a>
                            </div>
							<div class="listbox-alig right-listbox" id="all_div">
                                <!-- <span>All Classrooms: </span> -->
								<%= select_tag "all_present_id", options_from_collection_for_select(@school_specific_classrooms, "id", "name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
                            </div>
                        </div>
                    </div>
		        </div>
        <%end%>
		<%= hidden_field_tag 'user_search_param', @user_search_param%>
            
<script type="text/javascript">

$('.add_fields').addClass('show').removeClass('hide');
$('.add_fields').click(function(){
	if ($('.fieldset-parents').length > 4)
	{
		$('.add_fields').addClass('hide').removeClass('show');
	}
});
$('.add-parent').on('click','.remove_fields',function(){
	if ($('.add-parent.fieldset-parents').length < 5)
	{
		$('.add_fields').addClass('show').removeClass('hide');
	}
});


</script>		


