               <div class="row">
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :first_name, "First Name", :class=>"control-label" %><span class="asterisk">*</span>
		    			    <%= f.text_field :first_name, :required=>true,  :class=>"form-control" %>
	                    </div>
	                </div>
	                <div class="col-sm-3">
	                    <div class="form-group">
			     		   <%= f.label :last_name, "Last Name", :class=>"control-label" %><span class="asterisk">*</span>
			     		   <%= f.text_field :last_name, :required=>true, :class=>"form-control" %>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :username, "Username", :class=>"control-label" %><span class="asterisk">*</span>
							<%= f.text_field :username, :class=>"form-control clearfix" %>
		    			    <%#= f.text_field :username, :class=>"form-control username_validation" %>
							<span class="help-inline error_box"></span>
	                    </div>
	                </div>
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :phone_number, "Phone Number", :class=>"control-label" %>
		    			    <%= f.text_field :phone_number, :class=>"form-control" %>
	                    </div>
	                </div>
				</div>	
				<% unless @role_id.name.eql?('Student')  %>
				<div class="row">	
	                <div class="col-sm-6">
	                    <div class="form-group">
		   			    	<%= f.label :email, :class=>"control-label"%><span class="asterisk">*</span>
		   			    	<%= f.text_field :email, :class=>"form-control" %>
							<%#= f.text_field :email, :class=>"form-control email_validation" %>
							<span class="help-inline error_box"></span>
	                    </div>
	                </div>
	            </div>
				<%else%>
				<div class="row">	
	                <div class="col-sm-6">
	                    <div class="form-group">
		   			    	<%= f.label :email, :class=>"control-label"%>
		   			    	<%= f.text_field :email, :class=>"form-control " %>
	                    </div>
	                </div>
	            </div> 
				<%end%>
				<% unless ((('edit').eql?action_name) || (('update').eql?action_name)) %>
	                <div class="row">
	                    <div class="col-sm-3">
	                        <div class="form-group">
	                        	<%= f.label :password, :class=>"control-label" %><span class="asterisk">*</span>
			    			    <%= f.password_field :password, :required=>true, :class=>"form-control class_password class_no_space", :action_type =>"new" %>
	                        </div>
	                    </div>
	                    <div class="col-sm-3">
	                        <div class="form-group">
			    			    <%= f.label :password_confirmation, :class=>"control-label" %><span class="asterisk">*</span>
			    			    <%= f.password_field :password_confirmation, :required=>true, :class=>"form-control class_no_space class_confirm_password", :action_type =>"new" %>
	                        </div>
	                    </div>
	                    <div class="col-sm-6">
	                    	<span class="asterisk">*</span>  Password Policy:
	                    	<p class="pass_policy">Password should contain at least 5 characters, at least 1 number, at least 1 lowercase character (a-z), at least 1 uppercase character (A-Z), no special characters allowed.<p>
	        			</div>
	                </div>
				<%else%>
					<%if f.object.role_id == 4%>
						<p>(Leave blank if you don't want to change password)</p>
	               		<div class="row">
	                    	<div class="col-sm-3">
	                        	<div class="form-group">
			    		        	<%= f.label :password, "New Password", :class=>"control-label" %>
			    			    	<%= f.password_field :password, :class=>"form-control class_password", :action_type =>"edit", :placeholder=>"********" %>
	                        	</div>
	                    	</div>
	                    	<div class="col-sm-3">
	                        	<div class="form-group">
			    			    	<%= f.label :password_confirmation, "Confirm Password", :class=>"control-label" %>
			    			    	<%= f.password_field :password_confirmation, :class=>"form-control class_confirm_password", :action_type =>"edit", :placeholder=>"********" %>
	                        	</div>
	                    	</div>
	                    	<div class="col-sm-6">
	                    		<span class="asterisk">*</span>  Password Policy:
	                    		<p class="pass_policy">Password should contain at least 5 characters, at least 1 number, at least 1 lowercase character (a-z), at least 1 uppercase character (A-Z), no special characters allowed.<p>
	        				</div>
	                	</div>
					<%end%>
			    <%end%>
			    <% unless @role_id.name.eql?('Web Admin') %>
			    	<% if (('new').eql?action_name) || (('create').eql?action_name)%>
				    	<div class="row">
					    	<div class="col-sm-6">
						       	<div class="form-group">
						       		<%= f.label :license_id, "License Expiration Date", :class=>"control-label"%><br>
						        	<%= render "school_related_licenses", :f=>f %>
						        </div>
						   	</div> 
				        </div>
				    <% elsif ((('edit').eql?action_name) || (('update').eql?action_name)) && (@user.license_expiry_date.blank?) %>   
				    	<div class="row">
					    	<div class="col-sm-6">
						       	<div class="form-group">
						       		<%= f.label :license_id, "License Expiration Date", :class=>"control-label"%><br>
						        	<%= render "school_related_licenses", :f=>f %>
								</div>
						   	</div> 
				        </div>
				    <% elsif ((('edit').eql?action_name) || (('update').eql?action_name)) && (!@user.license_expiry_date.blank?) %>   
				    	<div class="row">
					    	<div class="col-sm-3">
						       	<div class="form-group">
						       		<%= f.label :license_expiry_date, "License Expiration Date", :class=>"control-label"%>
							    	<div class="dropdown-quick-edit-stud " data-col="license_id" data-id='<%= @user.id%>'>
							    		<%= @user.get_lic_name_date  %>

							    		<span class="input-group-addon datepicker-align" id = "user-edit-datepicket"><i class="glyphicon glyphicon-calendar"></i></span>
							    	</div>
							    	
							    	<%= f.select :license_id, options_for_select(@school_related_licenses.collect {|g| [ g.get_license_batch_name_exp_date, g.id ] }), {:prompt=>"Select License Expiration Date"}, {:class=>"form-control invisible dropdown-dynamic class-grade"} %>
						   		</div>
						   	</div>
						</div> 
			    	<%end%>
			    	<%= f.hidden_field :license_expiry_date %>
			    <%end%>
			    <br>
				<% if @role_id.name.eql?('Student')%>
				
	        	    <%=f.fields_for :parents,@parent do |fb|%>     
	        		    <%=render 'parent_fields', f: fb%>
	        	    <%end%>
					<div class="add-parent">
					    <%= link_to_add_fields "Add More Parent Details", f, :parents %>
				    </div>
				<div class="row">
	            	<div class="col-sm-6">
	                	<div class="form-group">
							<%= f.label :grade, "Grade Level", :class=>"control-label add-student-label" %>
		    			    <%= f.select :grade, options_for_select(@reading_grades.collect {|g| [ g.grade_short, g.id ] }, :selected=>f.object.grade), {:prompt=>"Select Grade Level", :class=>"form-control"} %>
	                    </div>
	                </div>
				</div>	
				<div class="row">
	                <div class="col-sm-6">
	                    <div class="form-group">
	                    	<%= f.label :reading_ability, "Reading Ability", :class=>"control-label add-student-label" %>
		    			    <%= f.select :reading_ability, options_for_select(@reading_grades.collect {|g| [ g.grade_short + " (" + g.grade_name + ") " ,g.grade_short + " (" + g.grade_name + ") " ] }, :selected=>f.object.reading_ability), {:prompt=>"Select Reading Ability", :class=>"form-control"}%>
	                    </div>
	                </div>
	            </div>
				<div class="row">
	            	<div class="col-sm-6">
	                	<div class="form-group">
				            <%= f.label :assign_reading_based_on, "Reading Based On", :class=>"control-label add-student-label" %>
							<%= f.select :assign_reading_based_on, [["Grade level","grade"],["Reading Ability","reading"]], {:prompt => "Select Reading Based On"}, {:class=>""}%>
				        </div>
				    </div>
				</div>
                <% end %>
                <div class="row">
                    <div class="col-md-6">
					   <table class="">
			   			    <tr>
			   				    <td>
			   					    <div class=""><%image = ( ["edit", "update"].include?(action_name)) ? (@user.photos.blank? ? "missin.png" : @user.photos.url) : 'missin.png'  %>
			   					    <%= image_tag(image, :alt=>"your image", :class=>"student-profil-pic", :border=>"1") %>
								</div>
			   				    </td>
			   			    </tr>
			   			    <tr>
			   				    <td>
			   					    <%= f.file_field :photos, :class=>"image-file-name" %>
			   				    </td>
			   			    </tr>
			   		    </table>
                    </div> 
                </div>
				<br>
				<% if @role_id.name.eql?('Teacher')%>
				    <div class="row">
					    <div class="col-sm-3">
						    <div class="form-group">
						        <%= label_tag 'can_manage', "Can Manage Student Licenses", :class=>"control-label"%>
								<%= hidden_field_tag :accessright, 0 %>
							    <%= check_box_tag('accessright', @accessright.id,["edit"].include?(action_name) ? ( @existing_access_right.include?(@accessright.id.to_s)) : false, :class=>"class_accessright")%>
							</div>
						</div> 
				    </div>
				<%end%>
		<% unless @role_id.name.eql?('Web Admin')%>
		    <%= hidden_field_tag 'selected_ids', @assigned_classrooms.map{|c| c.id } %>
		        <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group margin-t-10">
							<%#= label_tag 'classrooms', "Classes", :class=>"control-label form-lable-multiselect"%>
							<div class="listbox-alig left-listbox" id="assigned_div">
                                <span class="multi-select-heading"> Assigned Classes: </span>
								<%= select_tag "already_assigned_id", options_from_collection_for_select(@school_specific_classrooms, "id", "name"), :class=>"classroom-info-hover", :size=>"8", :multiple=>"multiple" %>
                            	<a href=javascript:void(0) class="clear-selected-classes btn btn-success btn-xs multiselect-btns" disabled="disabled">Clear all</a>
                            </div>
                            <div class="assign_arrows">
                                <a href="#Remove" class="remove btn disable-remove"> > </a><br />
                                <a href="#Add" class="add btn disable-add"> < </a>
                            </div>
							<div class="listbox-alig right-listbox" id="all_div">
                                <span class="multi-select-heading">Classes: </span>
								<%= select_tag "all_present_id", options_from_collection_for_select(@school_specific_classrooms, "id", "name"), :class=>"", :size=>"8", :multiple=>"multiple" %>
								<a href=javascript:void(0) class="add-all-classes btn btn-success btn-xs multiselect-btns" disabled="disabled">Add all</a>	
                            </div>
                        </div>
                    </div>
                </div>
        <%end%>
		<%= hidden_field_tag 'user_search_param', @user_search_param%>
            
<script type="text/javascript">
<% unless @role_id.name.eql?('Web Admin') %>

$('.add_fields').addClass('show').removeClass('hide');
$('.add_fields').click(function(){
	if ($('.fieldset-parents').length > 4)
	{
		$('.add_fields').addClass('hide').removeClass('show');
	}
});
$('.add-parent').on('click','.remove_fields',function(){
	if ($('.add-parent.fieldset-parents').length < 5)
	{
		$('.add_fields').addClass('show').removeClass('hide');
	}
});


$.valHooks.textarea = {
    get: function(elem) {
        return elem.value.replace(/\r?\n/g, "<br/>");
    }
};

$(".dropdown-quick-edit-stud").click(function(e) {
    e.preventDefault();
    var text = $(this).text();
	$(this).parent().children(".dropdown-dynamic").removeClass("invisible");
	$(this).parent().children(".dropdown-dynamic").show().focus().click();
	$(this).addClass("invisible");
});

$('.dropdown-dynamic').change(function(e) {
    e.preventDefault();
	dropdown_update_on_quick_edit($(this));
});	

$('.dropdown-dynamic').blur(function(e) {
	e.preventDefault();
	dropdown_update_on_quick_edit($(this));
});

function dropdown_update_on_quick_edit(this_val)
{
	$('#user_license_expiry_date').val($("#user_license_id :selected").text());
	this_val.parent().children(".dropdown-quick-edit-stud").html(this_val.find('option:selected').text()).removeClass("invisible");
	this_val.parent().children(".dropdown-quick-edit-stud").append('<span class="input-group-addon datepicker-align" id = "user-edit-datepicket"><i class="glyphicon glyphicon-calendar"></i></span>');
    this_val.addClass("invisible");	
}

$(document).ready(function () {
    $('#user_license_id').change(function() {
    	$('#user_license_expiry_date').val($("#user_license_id :selected").text());
    });	
});

// select/de-select classrooms while add/edit school-admin,teacher,student
// select/de-select users while add/edit classroom
    $(function () {
      $('select#already_assigned_id').listbox({'searchbar': true});
      $('select#all_present_id').listbox({'searchbar': true});
    });

	function enable_disable_clear_btn()
	{ 
		var selected_class = $("#already_assigned_id option:not(.hide)");
		var count_selected_class = 0;
		selected_class.each(function(i){
			count_selected_class++;
		});
		if(count_selected_class > 0)
		{	
			$(".clear-selected-classes").removeAttr('disabled');
		}
		else if(count_selected_class <= 0)
		{
			$(".clear-selected-classes").attr('disabled', 'true'); 
		}
	}

	function enable_disable_add_btn()
	{
		var all_class = $("#all_present_id option:not(.hide)");
		var count_all_class = 0;
		all_class.each(function(i){
			count_all_class++;
		});
		if(count_all_class > 0)
		{	
			$(".add-all-classes").removeAttr('disabled');
		}
		else if(count_all_class <= 0)
		{
			$(".add-all-classes").attr('disabled', 'true'); 
		}
	}

  $(document).ready(function() {
  	var user_specific_classrooms = [];
  	var school_user_specific_classrooms = [];
  	var school_specific_classrooms = [];

  	school_user_specific_classrooms = <%=@school_user_specific_classrooms%>
  	user_specific_classrooms = <%=@user_specific_classrooms%>
  	school_specific_classrooms = <%=@school_classrooms%>
  	
  	if(school_user_specific_classrooms.length >0)
  	{
  	  $.each( school_user_specific_classrooms, function( key, value ) {
        $("#already_assigned_id option[value='"+value+"']").removeAttr("selected").addClass('hide');
        $('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").addClass('hide');
      });
 	}
 	else
 	{
 		if(<%= action_name.eql?('edit') || action_name.eql?('update')%>)	
 		{
 			$.each( school_specific_classrooms, function( key, value ) {
        		$("#already_assigned_id option[value='"+value+"']").removeAttr("selected").removeClass('hide').addClass('show');
        		$('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('hide').addClass('show');
      		});
      	}
      	else
      	{
      		$.each( school_specific_classrooms, function( key, value ) {
        		$("#already_assigned_id option[value='"+value+"']").removeAttr("selected").removeClass('show').addClass('hide');
        		$('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
      		});
      	}
 	}
 	if(user_specific_classrooms.length > 0)
  	{
  	  $.each( user_specific_classrooms, function( key, value ) {
       $("#all_present_id option[value='"+value+"']").removeAttr("selected").addClass('hide');
       $('.right-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").addClass('hide');
      });
  	}
  	
  	// Code for qtip
  	$('.lbjs-item').each(function() {
    	$(this).qtip({
            content: {
                text: function(event, api) {
                    $.ajax({
                        url: "<%=url_for :controller => 'classrooms', :action => 'get_class_info'%>",
                        data: {id: $(this).attr("user_id")} 
                    })
                    .then(function(content) {
                        // Set the tooltip content upon successful retrieval
                        api.set('content.text', content);
                    }, function(xhr, status, error) {
                        // Upon failure... set the tooltip content to error
                        api.set('content.text', status + ': ' + error);
                    });
        
                    return 'Loading...'; // Set some initial text
                }
            },
            position: {
                viewport: $(window)
            },
            style: 'qtip-wiki'
        });
    });
	
	 $( ".list_item_img" ).on("click",function(){
		 $.ajax({
	     	url: "<%=url_for :controller => 'classrooms', :action => 'show_class_data'%>",
	        data: {id: $(this).parent().attr("user_id")},
			success: function(data) {
				window.open(data, '_blank')
			}
	 	});          
	});

	$(".clear-selected-classes").click(function(e) {
	  var selectedOpts =  $("#already_assigned_id option:not(.hide)");
      selectedOpts.each(function(i){
      	$('.right-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('hide').addClass('show');
      	$("#all_present_id option[value='"+this.value+"']").removeAttr("selected").removeClass('hide').addClass('show');
      	$("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
      	$('.left-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('show').addClass('hide');
      });
      
      $("#selected_ids").val("");
      $('.disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
	  $('.right-listbox.disable-add').unbind('click', false);
	  enable_disable_clear_btn();
  	  enable_disable_add_btn();
  	  enable_disable_remove_arrow();
  	  enable_disable_add_arrow();
	});	

	$(".add-all-classes").click(function(e) {
	  selected_ids = [];
	  var selectedOpts =  $("#all_present_id option:not(.hide)");
      selectedOpts.each(function(i){
      	$('.left-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('hide').addClass('show');
      	$("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('hide').addClass('show');
      	$("#all_present_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
      	$('.right-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected").removeClass('show').addClass('hide');
        selected_ids.push(this.value);
      });
      
      $("#selected_ids").val($.merge($("#selected_ids").val().split(" "), selected_ids).join(" "));
      $('.disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
	  $('.right-listbox.disable-add').unbind('click', false);
	  enable_disable_clear_btn();
  	  enable_disable_add_btn();
  	  enable_disable_remove_arrow();
  	  enable_disable_add_arrow();
	});	

    $('.remove').click(function(e) {
      selected_ids = [];
      remove_selected_ids = [];
      selected_ids = $("#selected_ids").val().split(" ");
      
      //$('#assigned_div').children('div .lbjs').remove();
      //$('select#already_assigned_id').listbox({'searchbar': true});

      var selectedOpts = $('#already_assigned_id option:selected').clone();
      selectedOpts.each(function(i){
      	$('.right-listbox .lbjs-item[user_id='+this.value+']').attr('selected',true).removeClass('hide').addClass('show');
      	$("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
      	$("#all_present_id option[value='"+this.value+"']").attr('selected',true).removeClass('hide').addClass('show');
		remove_selected_ids.push(this.value);
        selected_ids.removeByValue(this.value);
      });

      $.each( remove_selected_ids, function( key, value ) {
      	$('.left-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
      });	
      $("#selected_ids").val(selected_ids.join(" "));
      $('.disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
	  $('.right-listbox.disable-add').unbind('click', false);
	  if($("#already_assigned_id option:selected").length > 0)
	  {
	  	$('.disable-add').removeClass("diasble-arrors").addClass("enable-arrors");
	  	$('.right-listbox.disable-add').unbind('click', false);
	  } 	
	  enable_disable_clear_btn();
  	  enable_disable_add_btn();
  	  enable_disable_remove_arrow();
  	  enable_disable_add_arrow(); 
	});

    $('.add').on('click', function(){
      selected_ids = [];
      var selectedOpts = $('#all_present_id option:selected').clone();
      selectedOpts.each(function(i){
      	$('.left-listbox .lbjs-item[user_id='+this.value+']').attr('selected',true).removeClass('hide').addClass('show');
      	$("#all_present_id option[value='"+this.value+"']").removeAttr("selected").removeClass('show').addClass('hide');
      	$("#already_assigned_id option[value='"+this.value+"']").attr('selected',true).removeClass('hide').addClass('show');
        selected_ids.push(this.value);
      });
      $.each( selected_ids, function( key, value ) {
      	$('.right-listbox .lbjs-item[user_id='+value+']').removeAttr("selected").removeClass('show').addClass('hide');
	  });
	  //$("#selected_ids").val(selected_ids.join(" "));
      $("#selected_ids").val($.merge($("#selected_ids").val().split(" "), selected_ids).join(" "));

      //$('#assigned_div').children('div .lbjs').remove();
      //$('select#already_assigned_id').listbox({'searchbar': true});

      $('.disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
	  $('.right-listbox.disable-add').unbind('click', false);
	  if($("#all_present_id option:selected").length > 0)
	  {
	  	$('.disable-remove').removeClass("diasble-arrors").addClass("enable-arrors");
	  	$('.left-listbox.disable-remove').unbind('click', false);
	  }
	  enable_disable_clear_btn();
  	  enable_disable_add_btn();
  	  enable_disable_remove_arrow();
  	  enable_disable_add_arrow();
	});
  	
  	enable_disable_add_btn();
  	enable_disable_clear_btn();
  	enable_disable_remove_arrow();
  	enable_disable_add_arrow();
  	
  });

  Array.prototype.removeByValue = function(val) {
    for(var i=0; i<this.length; i++) {
        if(this[i] == val) {
            this.splice(i, 1);
            break;
        }
    }
}

// Disable arrows by default, enable when clicked on left or right lists
$('.disable-add').bind('click', false);
$('.disable-add').removeClass("enable-arrors").addClass("diasble-arrors");
$('.disable-remove').removeClass("enable-arrors").addClass("diasble-arrors");
$('.disable-remove').bind('click', false);

$('.left-listbox').on('click','.lbjs-item',function(){
	enable_disable_remove_arrow();
});

$('.right-listbox').on('click','.lbjs-item',function(){
	enable_disable_add_arrow();
});

function enable_disable_remove_arrow()
{
	if ($('#already_assigned_id option:selected').length > 0) 
	{
		$('.disable-remove').removeClass("diasble-arrors").addClass("enable-arrors");
		$('.left-listbox.disable-remove').unbind('click', false);
	}
	else
	{	
		$('.disable-remove').addClass("diasble-arrors").removeClass("enable-arrors");
		$('.left-listbox.disable-remove').unbind('click', true);
	}
}

function enable_disable_add_arrow()
{
	if ($('#all_present_id option:selected').length > 0) 
	{
		$('.disable-add').removeClass("diasble-arrors").addClass("enable-arrors");
		$('.right-listbox.disable-add').unbind('click', false);
	}
	else
	{
		$('.disable-add').addClass("diasble-arrors").removeClass("enable-arrors");
		$('.right-listbox.disable-add').unbind('click', true);
	}
}

$('.right-listbox').on('click','.lbjs-item',function(){
	if ($('#already_assigned_id option:selected').length > 0) 
		{
	  		var selectedOpts = $('#already_assigned_id option:selected').clone();
      		selectedOpts.each(function(i){
      		$('.left-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected");
      		$("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected");
        	}); 
        }	
    enable_disable_remove_arrow();
});

$('.left-listbox').on('click','.lbjs-item',function(){
	if ($('#all_present_id option:selected').length > 0) 
		{
	  		var selectedOpts = $('#all_present_id option:selected').clone();
      		selectedOpts.each(function(i){
      		$('.right-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected");
      		$("#all_present_id option[value='"+this.value+"']").removeAttr("selected");
      		}); 
        }	
    enable_disable_add_arrow();
});

$('body').on('click', function(e) {
    if (!$(e.target.parentElement).hasClass('lbjs-list')) {
    	var selectedOpts = $('#all_present_id option:selected').clone();
      	selectedOpts.each(function(i){
      	$('.left-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected");
      	$('.right-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected");
      	$("#all_present_id option[value='"+this.value+"']").removeAttr("selected");
      	$("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected");
        enable_disable_remove_arrow();
        enable_disable_add_arrow();
      });
      	var selectedOpts = $('#already_assigned_id option:selected').clone();
      	selectedOpts.each(function(i){
      	$('.left-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected");
      	$('.right-listbox .lbjs-item[user_id='+this.value+']').removeAttr("selected");
      	$("#all_present_id option[value='"+this.value+"']").removeAttr("selected");
      	$("#already_assigned_id option[value='"+this.value+"']").removeAttr("selected");
        enable_disable_remove_arrow();
        enable_disable_add_arrow();
      });
    }
});
<%end%>

</script>


