<% if @role_id.eql?('1')%>
   <div class="pageheader" data-no-turbolink>
      <h2><i class="glyphicon glyphicon-book"></i> Add Web Admin </h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><%= link_to 'Dashboard', root_path %></li>
            <li><%= link_to 'Web Admin List', users_path(:role_id => 1) %></li>
            <li class="active">Add Web Admin </li>
        </ol>
      </div>
   </div>
<% elsif @role_id.eql?('2')%>
   <div class="pageheader" data-no-turbolink>
      <h2><i class="glyphicon glyphicon-book"></i> Add School Admin </h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><%= link_to 'Dashboard', root_path %></li>
            <li><%= link_to 'School Admin List', users_path(:role_id => 2) %></li>
            <li class="active">Add School Admin </li>
        </ol>
      </div>
   </div>
<%end%>

<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">User Form</h4>
	             <p>Please enter all mandatory (<span class="asterisk">*</span>) fields.</p>
	        </div>
	        <div class="panel-body">
	        	<%= form_for @user, :html=>{:class=>"form_validation"} do |f| %>
				    <%=f.hidden_field :role_id, :value=>@role_id%>
				    <% if @user.errors.any? %>
				    <div id="error_explanation">
				        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
				        <ul>
				            <% @user.errors.full_messages.each do |msg| %>
				                <li><%= msg %></li>
				            <% end %>
				        </ul>
				    </div>
				  	<% end %>
	            <%= render 'common_fields', f: f%>
				<% if @role_id.eql?('2')%>
					<%#= render 'school_admin', f: f%>
				<%end%>
	        </div>
	        <div class="panel-footer" data-no-turbolink>
	            <%= f.submit "Save", class: "btn btn-primary btn-xs", data: { disable_with: 'Saving...' } %>
				<% if @role_id.eql?('1')%>
					<%= link_to 'Cancel', users_path(:role_id => 1), class: "btn btn-white btn-xs"%>
				<% elsif @role_id.eql?('2')%>
				    <%= link_to 'Cancel', users_path(:role_id => 2), class: "btn btn-white btn-xs"%>
				<%end%>	
	        </div>
			<% end %>
	    </div>
    </div>       
</div>

<script type="text/javascript">
	if( <%= @role_id.eql?('1')%>)
	{
	    showHideMenu('li_webadmin');	
	}
	else if(<%= @role_id.eql?('2')%>)
	{
	    showHideMenu('li_schooladmin');	
	}
</script>

