<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	        	<p>Please enter all mandatory (<span class="asterisk">*</span>) fields.</p>
	        </div>
	        <div class="panel-body">
	        	<%= form_for @user, :html=>{:class=>"form_validation user_form"} do |f| %>
				    <%=f.hidden_field :role_id, :value=>@role_id%>
					<% if @user.errors.any? %>
				    <div id="error_explanation">
				        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
				        <ul>
				            <% @user.errors.full_messages.each do |msg| %>
				                <li><%= msg %></li>
				            <% end %>
				        </ul>
				    </div>
				  	<% end %>
	            <%= render 'common_fields', f: f%>
	        </div>
	        <div class="panel-footer" data-no-turbolink>
	            <%= f.submit "Save", class: "btn btn-primary btn-sm btn-xs", data: { disable_with: 'Saving...' } %>
				<% if @role_id.eql?('1')%>
					<%= link_to 'Cancel', users_path(:role_id => 1), class: "btn btn-white btn-xs"%>
				<% elsif @role_id.eql?('2')%>
				    <%= link_to 'Cancel', users_path(:role_id => 2, :school_id => session[:school_id]), class: "btn btn-white btn-xs"%>
				<% elsif @role_id.eql?('3')%>
				    <%= link_to 'Cancel', users_path(:role_id => 3, :school_id => session[:school_id]), class: "btn btn-white btn-xs"%>
				<%end%>
	        </div>
			<% end %>
			<%= hidden_field_tag :send_mail, @send_mail%>
	    </div>
    </div>       
</div>

<script type="text/javascript">
	if( <%= @role_id.eql?('1')%>)
	{
	    showHideMenu('li_webadmin');	
	}
	else if(<%= @role_id.eql?('2')%>)
	{
	    showHideMenu('li_school');	
	}
	
email_valid = "<%= url_for :controller=> 'users', :action => 'email_validation', :id=> action_name.eql?("edit") ? @user.id : 0%>"	
</script>

