<div class="row" id="parent_info">
	<div class="col-md-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	        	<%#=unless @school.blank?%>
	  			<!-- <span class="top-school-heading"><%#= @school.name + " (" + @school.code + ")" %></span> -->
				<%#=end%>
	            <p>Please enter all mandatory (<span class="asterisk">*</span>) fields.</p>
	        </div>
	        <div class="panel-body">
	        	<%= form_for @user, :html=>{:class=>"form_validation user_form", multipart: true} do |f| %>
				    <%=f.hidden_field :role_id, :value=>@role_id.id%>
				    <%= hidden_field_tag :un_archive, @un_archive%>
					<%=f.hidden_field :school_id, :value=>@school.id unless @school.blank? %>
					<div id="errorbox">	
					    <%= render "shared/error_messages", :object=>@user %>
					    <%if params[:un_archive].eql?('true')%>
					    	<div class="error show">A user with this email address / username already exists. Please enter a new email address / username to restore this user from the archive.</div>
					    <%end%>
					</div>
		        <%= render 'common_fields', f: f %>
			</div>
	        <div class="panel-footer" data-no-turbolink>
				<% if action_name.eql?('new') || action_name.eql?('create') %>
	                <%= f.submit "Save", class: "btn btn-primary btn-sm btn-xs save-btns", data: { disable_with: 'Saving...' } %>
					<% if @role_id.name.eql?('Web Admin')%>
						<%= link_to 'Return to User List', users_path(:role_id => @role_id.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('School Admin')%>
					    <%= link_to 'Return to User List', users_path(:role_id => @role_id.id, :school_id => @school.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('Teacher')%>
					    <%= link_to 'Return to User List', users_path(:role_id => @role_id.id, :school_id => @school.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('Student')%>
					    <%= link_to 'Return to User List', users_path(:role_id => @role_id.id, :school_id => @school.id), class: "btn btn-white btn-xs"%>
					<%end%>
				<% else %>
				    <%= f.submit "Update", class: "btn btn-primary btn-sm btn-xs save-btns", data: { disable_with: 'Updating...' } %>
					<% if @role_id.name.eql?('Web Admin')%>
						<%= link_to 'Cancel', users_path(:role_id => @role_id.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('School Admin')%>
					    <%= link_to 'Cancel', users_path(:role_id => @role_id.id, :school_id => @school.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('Teacher')%>
					    <%= link_to 'Cancel', users_path(:role_id => @role_id.id, :school_id => @school.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('Student')%>
					    <%= link_to 'Cancel', users_path(:role_id => @role_id.id, :school_id => @school.id), class: "btn btn-white btn-xs"%>
					<%end%>
				<% end %>
			</div>
			<% end %>
			<%#= hidden_field_tag :send_mail, @send_mail%>
			
	    </div>
    </div>       
</div>

<script type="text/javascript">

	if( <%= @role_id.name.eql?('Web Admin')%>)
	{
	    showHideMenu('li_webadmin');	
	}
	else 
	{
	    showHideMenu('li_school');	
	}
	<% unless current_user.is_web_admin?%>
	  showHideMenu('li_options');	
	<%end%>
	
// email_valid = "<%#= url_for :controller=> 'users', :action => 'email_validation', :id=> action_name.eql?("edit") ? @user.id : 0%>"	

// username_valid = "<%#= url_for :controller=> 'users', :action => 'username_validation', :id=> action_name.eql?("edit") ? @user.id : 0%>"

</script>

