<div class="col-md-7">
	<% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>"> <%= value %></div>
    <% end %>
    <div class="signin-info">
        <div class="logopanel">
            <!-- <h1><span>[</span> Books That Grow<span>]</span></h1> -->
			<%= image_tag("app_icon.png", :class=>"logo_image")%>
        </div>
		<div class="mb20"></div>
            <h5><strong>Welcome to Books That Grow Admin Portal!</strong></h5>
                <ul>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Web Admin Portal</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> School Admin Login</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Teacher Login</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Classroom Management</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Student Management</li>
                </ul>
         <div class="mb20"></div>
   </div>
</div>
<div class="col-md-5">
    <%= form_tag( email_for_password_users_path, :method => "post",  :id=>"forgot_password_form", :class=>"form_validation") do %>
        <h4 class="nomargin">Forgot password</h4>
        <p class="mt5 mb20">Enter email to login and access your account.</p>
        <div class="form-group">
            <%= select_tag "school_id", options_from_collection_for_select(@schools, "id", "name"), {:class=>"form-control", :prompt=>"Select School"} %>
        </div>
        <div class="form-group">
		    <%= text_field_tag 'email' , nil, placeholder: 'Email Address', :required=>true, :class=>"form-control uname"  %>
		</div>
        <%= submit_tag "Submit", class: "btn btn-success btn-cons ", data: { disable_with: 'Saving...' } %>
		<%= link_to 'Back', signin_path ,class: "btn btn-white btn-cons" %>
        
    <% end %>
</div>





