<div class="pageheader">
   <h2><i class="fa fa-table"></i> Web Admin List <!-- <span>Subtitle goes here...</span> --></h2>
   <div class="breadcrumb-wrapper">
     <span class="label">You are here:</span>
     <ol class="breadcrumb">
         <li><%= link_to 'Dashboard', root_path %></li>
         <!-- <li><a href="buttons.html">UI Elements</a></li> -->
         <li class="active">Web Admin List</li>
     </ol>
   </div>
</div>

<div class="panel panel-default">
<div class="panel-body"> 
	<div class="index_page_btns" data-no-turbolink>
		<%=link_to 'Add User', new_user_path, :class=>"btn btn-success btn-xs"%>
		<%=link_to 'Delete', '', :class=>"btn btn-success btn-xs delete-user-list"%>
	 </div>
	 
	 <div class="table-responsive">
		<table class="table" id="table2">
            <thead>
                <tr>
                	<th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
					<th>Password</th>
                    <th>Password Confirmation</th>
					<th>Actions</th>
                 </tr>
              </thead>
              <tbody>
				 <% @users.each do |user| %>
                 <tr class="odd gradeX">
                 	  <td class=""><%= check_box_tag 'user_ids[]', user.id, false, :id => "user_ids_#{user.id}", :class => "delete-user" %></td>
                      <td class=""><%= user.first_name %></td>
                      <td class=""><%= user.last_name %></td>
                      <td class=""><%= user.username %></td>
                      <td class="center "><%= user.email %></td>
                      <td class="center "><%= user.password %></td>
					  <td class="center "><%= user.password_confirmation %></td>
					 
   				      <td data-no-turbolink>
   				      	<% if user.email == current_user.email %>
   				      		<%= link_to '<i title="Edit User" class="fa fa-pencil"></i>'.html_safe, edit_user_registration_path(user) %> 
   				      	<% else %>			
						  <%= link_to '<i title="Edit User" class="fa fa-pencil"></i>'.html_safe, edit_user_path(user) %>
						<% end %> 
   				   	      <%= link_to '<i title="Archive User" class="glyphicon glyphicon-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
					 </td>
                 </tr>
				 <% end %>
        </tbody>
    </table>
</div>
</div>		  


<script type="text/javascript" charset="utf-8">
	var checked_user = [] 
	$(document).on("click",".delete-user",function(){
		var status = $(this).is(':checked');
		var user_id = $(this).attr('id');
	  	user_id = user_id.split("_")[2];
		
		if(status)
			checked_user.push(user_id)
		else
		{
			var index = checked_user.indexOf(user_id);
			checked_user.splice(index,1);
		}
	});	
	 
	$(document).on("click",".delete-user-list",function(){
		$.ajax({
	    	url: "<%= delete_multiple_user_users_url %>",
	        	data: {
	            	checked_user:checked_user,
	                checked:status
	                }
	          });
	});
		
	 
	 jQuery(document).ready(function() {
    
	    jQuery('#table2').dataTable({
	      "sPaginationType": "full_numbers"
	    });
	    
	    // Chosen Select
	    jQuery("select").chosen({
	      'min-width': '100px',
	      'white-space': 'nowrap',
	      disable_search_threshold: 10
	    });
	    
	    // Delete row in a table
	    jQuery('.delete-row').click(function(){
	      var c = confirm("Continue delete?");
	      if(c)
	        jQuery(this).closest('tr').fadeOut(function(){
	          jQuery(this).remove();
	        });
	        
	        return false;
	    });
	    
	    // Show aciton upon row hover
	    jQuery('.table-hidaction tbody tr').hover(function(){
	      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
	    },function(){
	      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
	    });
  
  });
</script>
