<div data-no-turbolink>
<%= link_to 'Undo', undo_user_users_path(:id=>params[:user_id]) unless params[:user_id].blank? %>
</div>
  <div class="panel panel-default">
	<div class="panel-body"> 
		<%= text_field_tag :text_field_search, '', :placeholder=>'Search text' %>
		<button class="btn btn-primary btn-xs" id="user_search" >
						    Search
		</button>
		<%= form_tag 'users/delete_user' do %>
	  <div class="index_page_btns" data-no-turbolink>
		<% if @role_id.name.eql?('Web Admin')%>
		    <% if can? :create, :users %>
			    <%=link_to 'Add Web Admin', new_user_path(:role_id => @role_id.id), :class=>"btn btn-success btn-xs"%>
				<%=link_to 'List All Records', users_path(:role_id => @role_id.id), :class=>"btn btn-success btn-xs" if @search_flag %>
			<%end%>
		<%elsif @role_id.name.eql?('School Admin')%>
		    <% if (can? :create, :users) && (can? :create_sa, :users) %>
		        <%=link_to 'Add School Admin', new_user_path(:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs"%>
				<%=link_to 'List All Records', users_path(:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs" if @search_flag %>
			<%end%>
			<%=link_to 'Download Sample',"", :class=>"btn btn-success btn-xs download_sample", :'data-list_type' => "school_admin", :"data-toggle" => "modal", :"data-target" => "#download_list_modal" %>
			<%=link_to 'Import School Admin List', import_list_users_path(:list_type => "school_admin",:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs"%>
		<%elsif @role_id.name.eql?('Teacher')%>
		    <% if (can? :create, :users) && (can? :create_teacher, :users) %>
			    <%=link_to 'Add Teacher', new_user_path(:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs"%>
				<%=link_to 'List All Records', users_path(:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs" if @search_flag %>
		    <%end%>	
			<%=link_to 'Download Sample', "", :class=>"btn btn-success btn-xs download_sample", :'data-list_type' => "teacher", :"data-toggle" => "modal", :"data-target" => "#download_list_modal"  %>
			<%=link_to 'Import Teacher List', import_list_users_path(:list_type => "teacher",:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs"%>
		<%elsif @role_id.name.eql?('Student')%>
			<% if ((can? :read, :users) && (can? :read_student, :users)) || ((can? :read, :users) && (can? :manage_student, :users)) %>
			    <%=link_to 'Add Student', new_user_path(:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs"%>
				<%=link_to 'List All Records', users_path(:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs" if @search_flag %>
			<%end%>
			<%=link_to 'Download Sample', "", :class=>"btn btn-success btn-xs download_sample", :'data-list_type' => "student", :"data-toggle" => "modal", :"data-target" => "#download_list_modal"  %>
			<%=link_to 'Import Student List', import_list_users_path(:list_type => "student",:role_id => @role_id.id, :school_id => params[:school_id]), :class=>"btn btn-success btn-xs"%>
		<%end%>
		<%=link_to 'Remove License', "", :class=>"btn btn-success btn-xs bulk-remove-license", :disabled => true %>
		<%=submit_tag 'Archive', :class=>"btn btn-success btn-xs delete-user-list", :id=>'delete_user',:disabled => true, data: { confirm: 'Are you sure?' }%>
	</div>
	<div class="table-responsive">
		<table class="table class_common_table" id="users_table">
            <div class="error-message error quick-edit-error-msg"></div>
			<thead>
                <tr>
                	<th><%= link_to :All, 'javascript:checkAll("user")', :class => "lnk-typ1" %> | <%= link_to :None, 'javascript:uncheckAll("user")', :class => "lnk-typ2" %></th>
                    <th>First Name</th>
                    <th>Last Name</th>
					<th>Username</th>
                    <th>Email</th>
					<th>Phone Number</th>
					<%unless @role_id.name.eql?('Web Admin')%>
					    <th>License Expiration Date</th>
					<%end%>
					<%if @role_id.name.eql?('Student')%>
					    <th>Grade</th>
					    <th>Reading Level</th>
					<%end%>
					<th>Actions</th>
                 </tr>
              </thead>
              <tbody>
				 <% @users.each do |user| %>
				     <% unless user.id == current_user.id%>
                         <tr class="odd gradeX" data-no-turbolink>
                 	         <td class="bulk-remove-license-checkbox"><%= check_box_tag 'user_ids[]', user.id, false, :class => "user-check-box" %></td>
							 <%unless @role_id.name.eql?('Web Admin')%>
                                 <td>
									 <div class="quick-edit" data-col="first_name" data-id='<%= user.id%>'><%=user.first_name%></div>
									 <textarea class="invisible dynamic"></textarea>
									 <%#= link_to user.first_name, user_path(user, :role_id => @role_id, :school_id=>@school.id), :title=>"View User Details" %>
								 </td>
							 <%else%>
							     <td>
									 <div class="quick-edit" data-col="first_name" data-id='<%= user.id%>'><%=user.first_name%></div>
									 <textarea class="invisible dynamic"></textarea>
								 </td>
							 <%end%>
                             <td>
								 <div class="quick-edit" data-col="last_name" data-id='<%= user.id%>'><%= user.last_name %></div>
								 <textarea class="invisible dynamic"></textarea>
							 </td>
							 <td>
								 <div class="quick-edit" data-col="username" data-id='<%= user.id%>'><%= user.username %></div>
							     <textarea class="invisible dynamic"></textarea>
							 </td>
                             <td>
								 <div class="quick-edit" data-col="email" data-id='<%= user.id%>'><%= user.email %></div>
							     <textarea class="invisible dynamic"></textarea>
							 </td>
					         <td>
								 <div class="quick-edit" data-col="phone_number" data-id='<%= user.id%>'><%= user.phone_number %></div>
							     <input type="text" class="mask-phone invisible dynamic"></input>	 
							 </td>
					         <%unless @role_id.name.eql?('Web Admin')%>
					             <td class=""><%= user.license_expiry_date unless user.license_expiry_date.blank? %></td>
					         <%end%>
  					         <%if @role_id.name.eql?('Student')%>
					             <td>
									 <div class="dropdown-quick-edit" data-col="grade" data-id='<%= user.id%>'><%= ReadingGrade.find(user.grade).grade_short unless  user.grade.blank? %></div>
									 <%= select_tag :grade, options_from_collection_for_select(@reading_grades,"grade_short", "grade_short"), {:prompt=>"Select Grade Level", :class=>"form-control invisible dropdown-dynamic class-grade"} %>
								 </td>
					             <td>
									 <div class="dropdown-quick-edit" data-col="reading_ability" data-id='<%= user.id%>'><%= ReadingGrade.find(user.reading_ability).grade_short + " (" + ReadingGrade.find(user.reading_ability).grade_name + ") " unless user.reading_ability.blank? %></div>
									 <%= select_tag "reading_ability", options_for_select(@reading_grades.collect {|g| [ g.grade_short + " (" + g.grade_name + ") " , g.grade_short ] }), {:prompt=>"Select Reading Level", :class=>"form-control invisible dropdown-dynamic class-grade"} %>
								 </td>
  					         <%end%>
  					         <td>
					         <% if ((can? :update, :users) && (can? :update_sa, :users)) && params[:role_id].eql?('2') %>
						         <%= render 'edit_link', user: user%>
							 <% end %>
						     <% if ((can? :update, :users) && (can? :update_teacher, :users)) && params[:role_id].eql?('3') %>
						         <%= render 'edit_link', user: user%>
                             <% end %>
						     <% if (((can? :update, :users) && (can? :update_student, :users)) || ((can? :update, :users) && (can? :manage_student, :users))) && params[:role_id].eql?('4') %>	
						         <%= render 'edit_link', user: user%>
						     <% end %>
						     <% if ((can? :destroy, :users) && (can? :destroy_sa, :users)) && params[:role_id].eql?('2') %>
						         <%= render 'delete_link', user: user%>
						     <% end %>  
						     <% if ((can? :destroy, :users) && (can? :destroy_teacher, :users)) && params[:role_id].eql?('3') %>
						         <%= render 'delete_link', user: user%>
						     <% end %>	  
						     <% if (((can? :destroy, :users) && (can? :destroy_student, :users)) || ((can? :destroy, :users) && (can? :manage_student, :users))) && params[:role_id].eql?('4') %>
   				   	             <%= render 'delete_link', user: user%>      
						     <% end %>
					         <% unless  @role_id.name.eql?('Web Admin')%> 
							     <%= hidden_field_tag :user_id, user.id%>
								 <% if params[:role_id].eql?('4') %>
								     <% if (can? :get_user_school_licenses, :users) %>
							             <%= link_to '<i title="Assign License" class="btg btg-lisence"></i>'.html_safe, '', :class=>"assign_license", data: { toggle: "modal", target: "#myModal", input: user.id}%> 
						             <% end %>
								     <% if (can? :remove_license, :users) && params[:role_id].eql?('4') %>
						                 <%= link_to '<i title="Remove License" class="btg btg-lisence-cancel"></i>'.html_safe, remove_license_users_path(:id=>user.id) , data: { confirm: "Are you sure you want to remove this user's license? The user will no longer be able to log in to Books That Grow." } unless user.license_expiry_date.blank? %>   
								     <% end %>
								 <%else%>
								     <%= link_to '<i title="Assign License" class="btg btg-lisence"></i>'.html_safe, '', :class=>"assign_license", data: { toggle: "modal", target: "#myModal", input: user.id}%> 
									 <%= link_to '<i title="Remove License" class="btg btg-lisence-cancel"></i>'.html_safe, remove_license_users_path(:id=>user.id) , data: { confirm: "Are you sure you want to remove this user's license? The user will no longer be able to log in to Books That Grow." } unless user.license_expiry_date.blank? %>  
						         <%end%>
							<%else%>
						        <%= render 'edit_link', user: user%> 
						        <%= render 'delete_link', user: user%>
						    <%end%>	
						    <%= link_to '<i title="Change Password" class="fa fa-lock increase_size"></i>'.html_safe, '', :class=>"change_password", data: { toggle: "modal", target: "#changePassword", input: user.id} %>
					    </td>
                     </tr>
				     <% end %>
				 <% end %>
            </tbody>
        </table>
	</div>

	<div data-no-turbolink>
		<%= paginate @users %>
	</div>
	<% end %>
 </div>		  
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Assign License</h4>
      </div>
      <div class="modal-body">
		  <div id="school_licenses_list"></div>
	  </div>
    </div>
  </div>
</div>		

<div class="modal fade" id="download_list_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Download Sample List</h4>
      </div>
      <div class="modal-body sample_list_links_div">
		  <div id="school_admin" style='display:none;'>
		  		<%=link_to 'Download xls format sample', download_sample_list_users_path(:format => :xls, :list_type => "school_admin"), :class=>"btn btn-success btn-xs"%>
				<%=link_to 'Download csv format sample', download_sample_list_users_path(:format => :csv, :list_type => "school_admin"), :class=>"btn btn-success btn-xs"%>   
		  </div>

		  <div id="teacher" style='display:none;'>
		  		<%=link_to 'Download xls format sample', download_sample_list_users_path(:format => :xls, :list_type => "teacher"), :class=>"btn btn-success btn-xs"%>  
				<%=link_to 'Download csv format sample', download_sample_list_users_path(:format => :csv, :list_type => "teacher"), :class=>"btn btn-success btn-xs"%>
		  </div>

		  <div id="student" style='display:none;'>
		  		<%=link_to 'Download xls format sample', download_sample_list_users_path(:format => :xls, :list_type => "student"), :class=>"btn btn-success btn-xs"%> 
				<%=link_to 'Download csv format sample', download_sample_list_users_path(:format => :csv, :list_type => "student"), :class=>"btn btn-success btn-xs"%> 
		  </div>
	  </div>
    </div>
  </div>
</div>		

<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
		  <div id="change_user_password_info"></div>
	  </div>
    </div>
  </div>
</div>	



<script type="text/javascript">
	if( <%= @role_id.name.eql?('Web Admin')%>)
	{
	    showHideMenu('li_webadmin');	
	}
	else if(<%= @role_id.name.eql?('School Admin')%> || <%= @role_id.name.eql?('Teacher')%> || <%= @role_id.name.eql?('Student')%>)
	{
	    showHideMenu('li_school');	
	}

	<% unless current_user.is_web_admin?%>
	  showHideMenu('li_options');	
	<%end%>
	
$( ".assign_license" ).click(function() {
          jQuery.get("<%=url_for(:controller=>'users',:action=>'get_user_school_licenses')%>",{ id : $(this).attr('data-input'), role_id:<%=@role_id.id%>},
function(data) {
	         
             if(data)
              {
			   jQuery("#school_licenses_list").html(data);
             }
      });
});


$( ".change_password" ).click(function() {
          jQuery.get("<%=url_for(:controller=>'users',:action=>'change_user_password')%>",{ id : $(this).attr('data-input'), role_id:<%=@role_id.id%>},
function(data) {
	         
             if(data)
              {
			   jQuery("#change_user_password_info").html(data);
             }
      });
});

$(".download_sample").click(function(){
	list_type = $(this).attr('data-list_type');
	$(".sample_list_links_div").children('div').filter("#"+list_type).show();
	$(".sample_list_links_div").children('div').not("#"+list_type).hide();

});

$(document).ready(function(){
	var arr_clicked_id = [];
	$('.user-check-box').click(function(){
		arr_clicked_id.push($(this).val());
	});

	$( ".bulk-remove-license" ).click(function() {
	          jQuery.get("<%=url_for(:controller=>'users',:action=>'remove_bulk_licenses')%>",{ bulk_remove_user_ids : arr_clicked_id},
	function(data) {
	      });
	});	

$('.error-message').removeClass('show').addClass('hide');	
$(".mask-phone").mask("(999) 999-9999");
	
$('#changePassword').click(function() {
	$(".form_validation").validate({
		rules: {
			"user[password]":{ minlength: 5, required: true} ,
			"user[password_confirmation]":{ minlength: 5, required: true, equalTo: "#user_password"} 
		},
		messages: {
			"user[password]":{
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long."
			},
			"user[password_confirmation]": {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long.",
				equalTo: "Please enter the same password as above."
			}
		}
		});
});
});

$.valHooks.textarea = {
    get: function(elem) {
        return elem.value.replace(/\r?\n/g, "<br/>");
    }
};

$(".dropdown-quick-edit").click(function(e) {
    e.preventDefault();
    var text = $(this).text();
	$(this).parent().children(".dropdown-dynamic").removeClass("invisible");
	$(this).addClass("invisible");
});

$('.dropdown-dynamic').change(function(e) {
    e.preventDefault();
	dropdown_update_on_quick_edit($(this));
});	

function dropdown_update_on_quick_edit(this_val)
{
    var edited_column_name = this_val.prev(".dropdown-quick-edit").data('col');
	var edited_user_id = this_val.prev(".dropdown-quick-edit").data('id')
	
	jQuery.get("<%= url_for(:controller => controller_name, :action=>'quick_edit_user')%>",{ column_name : edited_column_name, edited_value : parseInt(this_val.val()) , id : edited_user_id},
	  function(data) {  
	  });
	this_val.parent().children(".dropdown-quick-edit").html(this_val.find('option:selected').text()).removeClass("invisible");
    this_val.addClass("invisible");	
}

$(".quick-edit").click(function(e) {
    e.preventDefault();
    var text = $(this).text();
	text.replace("<br />", "\n");
    $(this).parent().children(".dynamic").html(text).removeClass("invisible");
    $(this).addClass("invisible");
});

$(".dynamic").keydown(function(e) {
    if (e.which === 13 && !e.shiftKey) {
        e.preventDefault();
        update_on_quick_edit($(this));
	 }
});
$(".dynamic").blur(function(e) {
   update_on_quick_edit($(this));
});

function update_on_quick_edit(this_val)
{
    var text = this_val.val();
	var edited_column_name = this_val.prev(".quick-edit").data('col');
	var edited_user_id = this_val.prev(".quick-edit").data('id')
	
	jQuery.get("<%= url_for(:controller => controller_name, :action=>'quick_edit_user')%>",{ column_name : edited_column_name, edited_value : this_val.val(), id : edited_user_id},
	  function(data) {  
		 if (data.status == false)
		 {
			 $('.error-message').removeClass('hide').addClass('show');	
			 $('div.error-message').text(data.message);
			 return;
		 }
		 else
		 {
			 $('.error-message').removeClass('show').addClass('hide');	
			 this_val.parent().children(".quick-edit").html(text).removeClass("invisible");
             this_val.addClass("invisible");	
		 } 
	  });
}
</script>



				