<%if @a["a_type"].blank?%>
<div class="col-md-7">
    <div class="signin-info">
        <div class="logopanel">
            <!-- <h1><span>[</span> Books That Grow <span>]</span></h1> -->
			<%= image_tag("app_icon.png", :class=>"logo_image")%>
        </div>
		<div class="mb20"></div>
            <h5><strong>Welcome to Books That Grow Admin Portal!</strong></h5>
                <ul>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Web Admin Portal</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> School Admin Login</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Teacher Login</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Classroom Management</li>
                    <li><i class="fa fa-arrow-circle-o-right mr5"></i> Student Management</li>
                </ul>
         <div class="mb20"></div>
   </div>
</div>
<div class="col-md-5">
	<%= form_tag('/users/set_new_password', :method => "post", :id=>"reset_password_form", :class=>"form_validation login ng-pristine ng-valid") do %>
		<%= hidden_field_tag(:email_id, @a["email"])%>
		<%= hidden_field_tag(:username, @a["username"])%>
		<%= hidden_field_tag(:school_id, @a["school_id"])%>
		<%= hidden_field_tag(:app_type, @a["a_type"])%>
		<%= hidden_field_tag(:coupon, @a["coupon"])%>
        <h4 class="nomargin">Reset password</h4>
        <p class="mt5 mb20">Enter a new password and click submit.</p>
        <div class="form-group">
		    <%= label_tag 'password_label', "New Password", :class => "form-label"%>
		    <%= password_field_tag 'password', nil, class: "form-control pword", :required=>true %>
		</div>
        <div class="form-group">
		    <%= label_tag 'password_confirmation_label', "Confirm Password", :class => "form-label" %>
		    <%= password_field_tag 'password_confirmation',nil, class: "form-control pword", :required=>true %>
		</div>
        <%= submit_tag "Submit", class: "btn btn-success btn-cons", data: { disable_with: 'Resetting...' }%>
		
   <% end %>
</div>
<%else%>
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div x-ng-if="pageAttr.showbackbtn" class="ng-scope">
                <a class="back-btn" href="#/logout"></a>
            </div>
            <!-- end ngIf: pageAttr.showbackbtn -->
            <div class="page-title ng-binding">Reset Password</div>
        </div>
    </div>
	<%= form_tag('/users/set_new_password', :method => "post", :id=>"reset_password_form", :class=>"form_validation login ng-pristine ng-valid") do %>
	    <%unless @user.blank?%><label class="stud-name-reset-pass">Reset password for <%=@user.first_name+" "+@user.last_name.to_s%>. </label><br/><%end%>
		<%= hidden_field_tag(:email_id, @a["email"])%>
		<%= hidden_field_tag(:username, @a["username"])%>
		<%= hidden_field_tag(:school_id, @a["school_id"])%>
		<%= hidden_field_tag(:app_type, @a["a_type"])%>
		<%= hidden_field_tag(:coupon, @a["coupon"])%>
        <div>
        	<div class="reset-password-app-error-msg">
				<%= password_field_tag 'password', nil, :class=>"", :required=>true, :placeholder => "Password" %><br/>
            </div>
            <div class="reset-password-app-error-msg">
				<%= password_field_tag 'password_confirmation',nil, :class=>"", :required=>true, :placeholder => "Password Confirmation" %>
            </div>
            <div>
            	<%= submit_tag "Submit", class: "reset-password", data: { disable_with: 'Resetting...' }%>
            </div>
		</div>
	<%end%>
</div>
<%end%>

