<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<h4 class="panel-title">User Information</h4>
        	</div>
        	<div class="panel-body">
            	<address>
                	<strong>First Name:</strong>
                	<%= @user.first_name %>
            	</address>
            	<address>
			    	<strong>Last Name:</strong>
			    	<%= @user.last_name %>
            	</address>
            	<address>
			    	<strong>Username:</strong>
			    	<%= @user.username %>
            	</address>
            	<address>
			    	<strong>Email:</strong>
			    	<%= @user.email %>
            	</address>
			    <div data-no-turbolink>
			        <%= link_to 'Edit', edit_user_path(@user), :class=>"btn btn-success btn-xs", data: { disable_with: 'Saving...' } %>
			        <%= link_to 'Cancel', users_path, class: "btn btn-white btn-xs"%>
        	    </div>
		    </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	showHideMenu('li_webadmin');
</script>