<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<h4 class="panel-title">User Details</h4>
        	</div>
        	<div class="panel-body">
            	<address>
                	<strong>First Name:</strong>
                	<%= @user.first_name %>
            	</address>
            	<address>
			    	<strong>Last Name:</strong>
			    	<%= @user.last_name %>
            	</address>
            	<address>
			    	<strong>Phone Number:</strong>
			    	<%= @user.phone_number %>
            	</address>
				<% unless @role_id.name.eql?('Web Admin')%>
				<address>
			    	<strong>License Expiration Date:</strong>
			    	<%= @user.license_expiry_date %>
            	</address>
				<%end%>
				<address>
			    	<strong>Email:</strong>
			    	<%= @user.email %>
            	</address>
				<% if @role_id.name.eql?('Student')%>
					<address>
				    	<strong>Student Grade:</strong>
				    	<%= @grade %>
	            	</address>
					<address>
				    	<strong>Student Reading Ability:</strong>
				    	<%= @reading %>
	            	</address>
				<%end%>
			    <div data-no-turbolink>
					<% unless @role_id.name.eql?('Web Admin')%>
			            <%= link_to 'Edit', edit_user_path(@user, :role_id => @user.role_id, :school_id=>@school.id), :class=>"btn btn-success btn-xs" %>
					<%else%>
					    <%= link_to 'Edit', edit_user_path(@user, :role_id => @user.role_id), :class=>"btn btn-success btn-xs" %>
					<%end%>
					<% if @role_id.name.eql?('Web Admin')%>
						<%= link_to 'Cancel', users_path(:role_id => @role_id.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('School Admin')%>
					    <%= link_to 'Cancel', users_path(:role_id => @role_id.id, :school_id=>@school.id), class: "btn btn-white btn-xs"%>
					<% elsif @role_id.name.eql?('Teacher')%>
					    <%= link_to 'Cancel', users_path(:role_id => @role_id.id, :school_id=>@school.id), class: "btn btn-white btn-xs"%>	
					<% elsif @role_id.name.eql?('Student')%>
					    <%= link_to 'Cancel', users_path(:role_id => @role_id.id, :school_id=>@school.id), class: "btn btn-white btn-xs"%>
					<%end%>
        	    </div>
		    </div>
        </div>
    </div>
</div>
<script type="text/javascript">
if( <%= @role_id.name.eql?('Web Admin')%>)
{
    showHideMenu('li_webadmin');	
}
else if(<%= @role_id.name.eql?('School Admin')%>)
{
    showHideMenu('li_school');	
}
</script>