	
<div class="panel panel-default">
	<div class="panel-body"> 	
		<div class= "all-user-search row">	
			<div class="text-field-first col-sm-9">
			<div class="col-sm-6">	
			<%= text_field_tag :text_field_search_by_fn,'', :placeholder=>"Search by Firstname", :class=>"all-search-width search-box" %>
		    </div>
			<div class="col-sm-6">
			<%= text_field_tag :text_field_search_by_ln,'', :placeholder=>"Search by Lastname", :class=>"all-search-width search-box" %>
			</div>
		    <div class="col-sm-6"> 
			<%= text_field_tag :text_field_search_by_un,'', :placeholder=>"Search by Username", :class=>"all-search-width search-box"  %>
			</div>
			<div class="col-sm-6">
			<%= text_field_tag :text_field_search_by_email,'', :placeholder=>"Search by Email", :class=>"all-search-width search-box" %>
			</div>
			<div class="col-sm-9">
			<%= text_field_tag :text_field_search_by_school,'', :placeholder=>"Search by School", :class=>"all-search-width search-box" %>
			</div>
		    </div>
		   <div class="col-sm-3 all-user-search-btn-margin">
			<button class="btn btn-primary btn-xs" id="all_user_search" >
							    Search User
			</button>
		   </div>
		</div>	
		<div class="table-responsive">
			<table class="table" id="all_user_table">
	            <thead>
	                <tr>
	                	<th>First Name</th>
	                    <th>Last Name</th>
						<th>Username</th>
						<th>Email</th>
						<th>School Name</th>
						<th>Role</th>
	                </tr>
	            </thead>
				<% unless @users.blank?%>
	            <tbody>
					<% @users.each do |user| %>
		                <tr class="odd gradeX" data-no-turbolink>
							<td class=""><%= user.first_name %></td>
							<td class=""><%= user.last_name %></td>
							<td class=""><%= user.username %></td>
							<td class=""><%= user.email %></td>
							<td class=""><%= user.school.name unless user.school.blank? %></td>
							<td class=""><%= user.role.name %></td>
					    </tr>
					<% end %>
				</tbody>
				<% end %>
			</table>
		</div>	
		<% unless @users.blank?%>
		<div data-no-turbolink>
			<%= paginate @users %>
		</div>
		<% end %>
		</div>	
	</div>	
		