
<div class="panel panel-default">
	<div class="panel-body" data-no-turbolink> 
		<%= text_field_tag :text_field_search, '', :placeholder=>'Search text', :class=>"search-box" %>
		<i class="glyphicon glyphicon-search btn btn-primary btn-xs search-icon-align" id="book_search" title="Search Book" >	</i>
		
		<%#= text_field_tag :text_field_search %>
		<!-- <button class="btn btn-primary btn-xs" id="book_search" >Search</button> -->
		<%#= form_tag 'books/delete_book' do %>
		<div class="index_page_btns" data-no-turbolink>
			<%= link_to 'List All Records', books_path, :class=>"btn btn-success btn-xs" if @search_flag %>
			<% if can? :create, :books %> <%=link_to 'Add Book', new_book_path, :class=>"btn btn-success btn-xs"%> <%end%>
			<%#= submit_tag 'Archive', :class=>"btn btn-success btn-xs delete-book-list", :id=>'delete_book',:disabled => true, data: { confirm: 'Are you sure?' } %>		
			<%= link_to 'Archive', delete_book_books_path(:yes=>true),method: :post, :class=>"btn btn-success btn-xs delete-book-list", data: { confirm: 'Are you sure you want to archive selected Books?' }, :disabled => true %> 	
		</div>
		 
		 <div class="table-responsive">
			<table class="table" id="book_table">
	            <thead>
	                <tr>
	            		<th><%= link_to :All, 'javascript:checkAll("book")', :class => "lnk-typ1" %> | <%= link_to :None, 'javascript:uncheckAll("book")', :class => "lnk-typ2" %></th>
                    	<th><span class="table-header">Title</span></th>
                    	<th><span class="table-header">Author</span></th>
                    	<th><span class="table-header">Description for Teachers</span></th>
                    	<th><span class="table-header">Description for Students</span></th>
                    	<th><span class="table-header">Interest Level</span></th>
                    	<th><span class="table-header">Reading Level</span></th>
                    	<th><span class="table-header">Status</span></th>
						<th><span class="table-header">Actions</span></th>	
	                </tr>
	            </thead>
	            <tbody>
					<% @books.each do |book| %>
                 		<tr class="odd gradeX" data-no-turbolink>
                   			<td><%= check_box_tag 'book_ids[]', book.id, false, :class => "book-check-box" %></td>
                      		<td><%= link_to book.title, book_path(:id=>book) %></td>
                      		<td><%= book.author %></td>
                      		<td><%= truncate(book.teacher_description, length: 150, omission: '...')  %></td>
                      		<td><%= truncate(book.student_description, length: 150, omission: '...') %></td>
                      		<td><%= book.interest_level_from + " - " + book.interest_level_to unless (book.interest_level_to.blank? && book.interest_level_from.blank? ) %></td>
                      		<td>
                      			<% arr_reading_levels = book.book_reading_grades.map(&:reading_grade_id)%>
                      			<%= book.get_book_reading_levels(arr_reading_levels) unless arr_reading_levels.compact.blank? %>
                      		</td>
                      		<td><%= book.active_flag.eql?(false) ? "Inactive" : "Active" %></td>
      						<td data-no-turbolink>
  								<% if can? :update, :books %>
						      		<%= link_to '<i title="Edit Book" class="fa fa-pencil"></i>'.html_safe, edit_book_path(book) %> 						  
						  		<%end%>
   				   	      		<% if can? :destroy, :books %> 
						      		<%= link_to '<i title="Archive Book" class="glyphicon glyphicon-trash"></i>'.html_safe, book, method: :delete, data: { confirm: "Are you sure you want to archive book: #{book.title} ?" } %> 
					      		<%end%>
    						</td>
                 		</tr>
					<% end %>	
	        	</tbody>
	    	</table>
		</div>
		<% if !params[:show_all].eql?('true') %>
			<div data-no-turbolink>
		    	<%= paginate @books %>
			</div>
		<% end %>	
		<% if !params[:show_all].eql?('true') %>
			<div class="show-all"><%= link_to 'Show All Books', books_path(:show_all=>true) ,:class=>"btn btn-success btn-xs" %></div>
		<% end %>
		<%#=end %>	
	</div>
</div>		  
  


<script type="text/javascript">
	showHideMenu('li_book');
	<% unless current_user.is_web_admin?%>
	  showHideMenu('li_options');	
	<%end%>
</script>