<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-default">
        	<div class="panel-heading">
            	<h4 class="panel-title">Book Information</h4>
        	</div>
        	<div class="panel-body">
            	<address>
                	<strong>Book Title: </strong>
                	<%= @book.title %>
            	</address>
            	<address>
			    	<strong>Book Author: </strong>
			    	<%= @book.author %>
            	</address>
            	<address class="word-wrap">
			    	<strong>Book Description for Teachers: </strong>
			    	<%= @book.teacher_description %>
            	</address>
            	<address class="word-wrap"> 
			    	<strong>Book Description for Students: </strong>
			    	<%= @book.student_description %>
            	</address>
            	<address>
			    	<strong>Interest Level: </strong>
			    	<%= @book.interest_level_from + " - " + @book.interest_level_to unless (@book.interest_level_from.blank? || @book.interest_level_to.blank?) %>
            	</address>
            	<address>
			    	<strong>Reading Level: </strong>
			    	<%= @arr_concatinated_reading_levels.join(', ') unless @arr_concatinated_reading_levels.blank?%>
				</address>
            	<div data-no-turbolink>
					<%= link_to 'Edit', edit_book_path(@book), :class=>"btn btn-success btn-xs" %>
			        <%= link_to 'Return to Book List', books_path, class: "btn btn-white btn-xs"%>
        	    </div>
		    </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	showHideMenu('li_webadmin');
</script>