<h1>Sign in</h1>
	
<div class="row">
	<div class="col-lg-3"></div>	
	<div class="col-lg-6">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	  		<%= f.label :email %>
  		  	<%= f.email_field :email, :autofocus => true %>

 		    <%= f.label :password %>
  		  	<%= f.password_field :password %>

  		  	<%#= if devise_mapping.rememberable? -%>
   		 		<%#= f.check_box :remember_me %> <%#= f.label :remember_me %>
  			<%#= end -%>

			<div class="row">		
	  		    <div class="col-lg-3"></div>
	  		    <div class="col-lg-6">	
      				<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      		  	</div>
      		  	<div class="col-lg-3"></div>
  		  	</div>
		<% end %>
	    <%#= link_to 'Forgot password', forgot_password_path , :style=>"margin-left: 225px;"%>
	</div>
	  <div class="col-lg-3"></div>  
</div>

<%= render "devise/shared/links" %>


