 
<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <!-- <h4 class="panel-title">School Form</h4> -->
	            <p>Please enter all mandatory (<span class="asterisk">*</span>) fields.</p>
	        </div>
	        <div class="panel-body">
				<%= form_for(@school, :html=>{:class=>"form_validation"} ) do |f| %>
				    <%=f.hidden_field :school_id, :value=>@school.id%>
					<div id="errorbox">	
					    <%= render "shared/error_messages", :object=>@school %>
					</div>
	            <div class="row">
	            	<% if params["action"] == "edit"%>
	                <div class="col-sm-3">
	                    <div class="form-group">
	                    	<%= f.label :code, "School Code", :class=>"control-label" %></br>
	                    	<%= @school.code %>
	                    </div>
	                </div>
	               <% end %> 
	                <div class="col-sm-9">
	                    <div class="form-group">
			     		   <%= f.label :name, "School Name", :class=>"control-label" %><span class="asterisk">*</span>
			     		   <%= f.text_field :name, :autofocus => true, :required=>true, :class=>"form-control" %>
						   <%#= f.text_field :name, :autofocus => true, :required=>true, :class=>"form-control school_name_unique" %>
						   <span class="help-inline error_box"></span>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6">
	                    <div class="form-group">
				    		<%= f.label :district, "School District", :class=>"control-label"%>
				    		<%= f.text_field :district, :class=>"form-control" %>
	                    </div>
	                </div>
	                <div class="col-sm-6">
	                    <div class="form-group">
		   			    	<%= f.label :phone, "Phone Number",  :class=>"control-label"%>
		   			    	<%= f.text_field :phone, :class=>"form-control"%>
						</div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-12">
	                    <div class="form-group">
			    		    <%= f.label :address, :class=>"control-label" %>
			    			<%= f.text_field :address, :class=>"form-control" %>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6">
	                    <div class="form-group">
			    			<%= f.label :city, :class=>"control-label" %>
			    			<%= f.text_field :city, :class=>"form-control" %>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-6">
	                    <div class="form-group">
			    	        <%= f.label :country %><br />
  							<%= f.country_select :country, {priority: %w(US)}, :disabled => true, :class=>"country-state-select" %>
	                    </div>
	                </div>
	                <div class="col-sm-6">
	                    <div class="form-group">
		   			    	 <%= f.label :state %><br />
 							 <%= render partial: 'subregion_select', locals: {parent_region: f.object.country} %>
	                    </div>
	                </div>
	                
	                
	            </div>
	        </div>
	        <div class="panel-footer" data-no-turbolink>
	            <%= f.submit "Save", class: "btn btn-primary btn-sm btn-xs save-btns", data: { disable_with: 'Saving...' } %>
				<%= link_to 'Return to School List', schools_path, class: "btn btn-white btn-xs"%>
	        </div>
			<% end %>
	    </div>
    </div>       
</div>

<script type="text/javascript">

   $("#school_phone").mask("(999) 999-9999");
	showHideMenu('li_school');
	
	<% unless current_user.role_id.eql?(1)%>
	  showHideMenu('li_options');	
	<%end%>
	
	school_unique = "<%= url_for :controller=> 'schools', :action => 'check_school_name_uniqueness', :id=> action_name.eql?("edit") ? @school.id : 0%>"	
</script>


