  <div class="pageheader">
   <h2><i class="fa fa-table"></i> School List <!-- <span>Subtitle goes here...</span> --></h2>
   <div class="breadcrumb-wrapper">
     <span class="label">You are here:</span>
     <ol class="breadcrumb">
       <li><%= link_to 'Dashboard', root_path %></li>
       <!-- <li><a href="buttons.html">UI Elements</a></li> -->
       <li class="active">School List</li>
     </ol>
   </div>
 </div>
 <div class="row">
          <div class="table-responsive">
          <table class="table" id="table2">
              <thead>
                 <tr>
                    <th>School Code</th>
                    <th>School Name</th>
                    <th>District</th>
                    <th>City</th>
					<th>State</th>
                    <th>Country</th>
					<th>Licenses In Use</th>
					<th>Unused Licenses</th>
					<th>Expiration Date</th>
					<th>Actions</th>
                 </tr>
              </thead>
              <tbody>
				 <% @schools.each do |school| %>
                 <tr class="odd gradeX">
                      <td class=""><%= school.code %></td>
                      <td class=""><%= school.name %></td>
                      <td class=""><%= school.district %></td>
                      <td class="center "><%= school.city %></td>
                      <td class="center "><%= school.state %></td>
					  <td class="center "><%= school.country %></td>
					  <td class="center "></td>
					  <td class="center "></td>
					  <td class="center "></td>
   				      <td data-no-turbolink>
						  <%= link_to '<i title="Edit School" class="fa fa-pencil"></i>'.html_safe, edit_school_path(school) %> 
   				   	      <%= link_to '<i title="Archive School" class="glyphicon glyphicon-trash"></i>'.html_safe, school, method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
                 </tr>
				 <% end %>
                 </tbody>
           </table>
          </div>
		  

<script>
  jQuery(document).ready(function() {
    
   jQuery('#table2').dataTable({
      "sPaginationType": "full_numbers"
    });
	});
</script>
