
<div class="panel panel-default">
	<div class="panel-body"> 
		
		<%= text_field_tag :text_field_search %>
		<%#=link_to "Search", "#", :class=>"" , :id => "search" %>

		<button class="btn btn-primary btn-xs" id="school_search" >
						    Search
						    </button>

		<%= form_tag 'schools/delete_school' do %>
		<div class="index_page_btns" data-no-turbolink>
            <% if can? :create, :schools %> <%=link_to 'Add School', new_school_path, :class=>"btn btn-success btn-xs"%> <%end%>
			<%=link_to 'List All Records', schools_path, :class=>"btn btn-success btn-xs" if @search_flag %>
			<%=link_to 'Download Sample',"", :class=>"btn btn-success btn-xs download_sample", :"data-toggle" => "modal", :"data-target" => "#download_list_modal" %>
			<%=link_to 'Import School List', import_list_schools_path, :class=>"btn btn-success btn-xs"%>
			<%=submit_tag 'Delete', :class=>"btn btn-success btn-xs delete-school-list", :id=>'delete_school',:disabled => true, data: { confirm: 'Are you sure?' } %>
		</div>
		 
		<div class="table-responsive">
			<table class="table school-table" id="school_table">
	            <thead>
	                <tr>
	                	<th><%= link_to :All, 'javascript:checkAll("school")', :class => "lnk-typ1" %> | <%= link_to :None, 'javascript:uncheckAll("school")', :class => "lnk-typ2" %>  </th>
	                    <th>School Code</th>
	                    <th>School Name</th>
	                    <th>District</th>
	                    <th>City</th>
						<th>State</th>
	                    <th>Country</th>
						<th>Actions</th>
	                </tr>
	            </thead>
	            <tbody>
					<% @schools.try(:each) do |school| %>
		                <tr class="odd gradeX" data-no-turbolink>
		                  <td class=""><%= check_box_tag 'school_ids[]', school.id, false, :class => "school-check-box" %></td>	
		                  <td class=""><%= school.code %></td>
		                  <td class=""><%= link_to school.name, school_path(school), :title=>"View School Details" %></td>
		                  <td class=""><%= school.district %></td>
		                  <td class="center "><%= school.city %></td>
		                  <%#= @country = Carmen::Country.coded('US') %>
						  <%#= Carmen::Country.coded('US').subregions.coded(school.state) %>
						  <td class="center "><%= Carmen::Country.coded('US').subregions.coded(school.state).name unless school.state.blank? %></td>
						  <td class="center "><%= school.country %></td>
						  <td>
						  	<% if can? :update, :schools %>
						    	<%= link_to '<i title="Edit School" class="fa fa-pencil"></i>'.html_safe, edit_school_path(school) %>  
						    <%end%>
					   	    <% if can? :destroy, :schools %> 
						      <%= link_to '<i title="Archive School" class="glyphicon glyphicon-trash"></i>'.html_safe, school, method: :delete, data: { confirm: 'Are you sure?' } %> 
					      	<%end%>
							<% if can? :create, :licenses %> 
							   <%= link_to '<i title="Add License" class="btg btg-lisence"></i>'.html_safe, new_license_path(:school_id=>school)%> 
							<%end%>
							<% if (can? :read, :users) && (can? :read_sa, :users) %>
							    <%=link_to '<i title="School Admin List" class="btg btg-admin"></i>'.html_safe, users_path(:school_id=>school, :role_id=>@school_admin.id)%> 
							<%end%>
							<% if (can? :read, :users) && (can? :read_teacher, :users) %>
							    <%=link_to '<i title="Teacher List" class="btg btg-teacher"></i>'.html_safe, users_path(:school_id=>school, :role_id=>@teacher.id)%>
							<%end%>
							<% if ((can? :read, :users) && (can? :read_student, :users)) || ((can? :read, :users) && (can? :manage_student, :users)) %>
							    <%=link_to '<i title="Student List" class="btg btg-student"></i>'.html_safe, users_path(:school_id=>school, :role_id=>@student.id)%> 
							<%end%>
							<% if can? :read, :classrooms %>
							    <%= link_to '<i title="Classroom List" class="btg btg-classroom"></i>'.html_safe, classrooms_path(:school_id=>school)%> 
						   <%end%>
						<% if can? :read, :licenses %> 
						    <!-- <button class="btn btn-primary btn-xs license_details" data-toggle="modal" data-target="#school_license_details" data-input='<%#=school.id%>' >
						    License Details
						    </button> -->	
							<%= link_to '<i title="License Details" class="glyphicon glyphicon-list-alt"></i>'.html_safe, '', :class=>"license_details", data: { toggle: "modal", target: "#school_license_details", input: school.id} %>
						<%end%>	
						   </td>
		                </tr>
					<% end %>
	        	</tbody>
	    	</table>
		</div>
        <% if @schools.count && @schools.count > 1 %>
		<div data-no-turbolink>
			<%= paginate @schools %>
		</div>
		<% end %>	
	<% end %>
	</div>	
</div>	  
		  


<div class="modal fade" id="school_license_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">License Details</h4>
      </div>
      <div class="modal-body">
		  <div id="schoolwise_licenses_list"></div>
	  </div>
    </div>
  </div>
</div>	

<div class="modal fade" id="download_list_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Download Sample List</h4>
      </div>
      <div class="modal-body sample_list_links_div">
		  <div id="school_admin">
		  		<%=link_to 'Download xls format sample', download_school_list_schools_path(:format => :xls), :class=>"btn btn-success btn-xs"%>
		  		<%=link_to 'Download csv format sample', download_school_list_schools_path(:format => :csv), :class=>"btn btn-success btn-xs"%>
		  </div>
	  </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Assign</button>
      </div> -->
    </div>
  </div>
</div>		

<script type="text/javascript">
	showHideMenu('li_school');
	
	$( ".license_details" ).click(function() {
	          jQuery.get("<%=url_for(:controller=>'schools',:action=>'get_schoolwise_license_list')%>",{ id : $(this).attr('data-input')},
	function(data) {
	         
	             if(data)
	              {
				   jQuery("#schoolwise_licenses_list").html(data);
	             }
	      });
	});	
</script>