<!--<div class="panel-heading align-school-header">
	<%#=unless @school.blank?%>
	  	<span class="top-school-heading"><%#= link_to @school.name + " (" + @school.code + ")"  , school_path(@school)%></span>
	   	<hr class="school-heading-hr"> 
	<%#=end%>
</div> -->


<div class="row">
	<div class="col-md-12">
    	<div class="panel panel-default">
        		<div class="mandatory-align">
	        		<%#=unless @role.name.eql?('Web Admin')%>
	        		<% unless @school.blank? %>
	        		<div class="tab-links" data-no-turbolink>
		        		<div>
		        		<% if ((can? :read, :users) && (can? :read_sa, :users)) %>
		        			<%= link_to 'School Admin List', users_path(:role_id => 2, :school_id => @school.id)%> 
		        		<%end%>
		        		<% if ((can? :read, :users) && (can? :read_teacher, :users)) %>
		        			| <%= link_to 'Teacher List', users_path(:role_id => 3, :school_id => @school.id)%> 
		        		<%end%>
		        		<% if ((can? :read, :users) && (can? :read_student, :users)) %>
		        			| <%= link_to 'Student List', users_path(:role_id => 4, :school_id => @school.id)%> 
		        		<%end%>
	        			<% if (can? :read, :classrooms) %>
	        				| <%= link_to 'Class List', classrooms_path(:school_id => @school.id)%>
	        			<%end%>
	        			<% if can? :create, :licenses%>  
            				| <%= link_to 'License List', new_license_path(:school_id => @school.id) %>
      					<%end%>
	        			</div>
	        		</div>
	        		<%end%>
	        	</div>
            
			<p id="notice"><%= notice %></p>
        	<div class="panel-body">
            	<address>
                	<strong>Code:</strong>
                	<%= @school.code %>
            	</address>
            	<address>
			    	<strong>Name:</strong>
			    	<%= @school.name %>
            	</address>
            	<address>
			    	<strong>Address:</strong>
			    	<%= @school.address %>
            	</address>
            	<address>
			    	<strong>City:</strong>
			    	<%= @school.city %>
            	</address>
            	<address>
			    	<strong>District:</strong>
			    	<%= @school.district %>
            	</address>
            	<address>
			    	<strong>State:</strong>
			    	<%= Carmen::Country.coded(@school.country).subregions.coded(@school.state).name unless @school.country.blank? %>
            	</address>
            	<address>
			    	<strong>Country:</strong>
			    	<%= Carmen::Country.coded(@school.country).name unless @school.country.blank?  %>
            	</address>
            	<address>
			    	<strong>Phone:</strong>
			    	<%= @school.phone %>
            	</address>
            	<address>
            		<% @total_school_licenses = 0%>
					<% @total_schooladmin_licenses = 0%>
					<% @total_teacher_licenses = 0%>
					<% @total_student_licenses = 0%>
					<% @total_school_used_licenses = 0%>
					<% @total_school_un_used_licenses = 0%>
	  	       	    <% unless @school.licenses.blank? %>
	  		   		    <table class="table" id="lic_info_table">
							<thead>
								<tr>
									<td><strong>License Batch Name</strong></td>
									<td><strong>Expiration Date</strong></td>
									<td><strong>Licenses allocated to School Admins</strong></td>
									<td><strong>Licenses allocated to Teachers</strong></td>
									<td><strong>Licenses allocated to Students</strong></td>
									<td><strong>Licenses in Use</strong></td>
									<td><strong>Unused Licenses</strong></td>
									<td><strong>Total No. of Licenses</strong></td>
								</tr>
							</thead>
							<tbody>	
						        <%@school.licenses.un_archived.each do |lic|%>
						            <tr>
										<td><%= lic.license_batch_name unless lic.blank?%></td>
										<td><%= lic.expiry_date.to_date unless lic.blank?%></td>
										<td><%= lic.users.un_archived.school_admins.count %></td>
					        			<td><%= lic.users.un_archived.teachers.count %></td>
					        			<td><%= lic.users.un_archived.students.count %></td>
	  					                <td><%= lic.used_liscenses unless lic.blank?%></td>
										<td><%= (lic.no_of_licenses - lic.used_liscenses) unless lic.blank?%></td>
										<td><%= lic.no_of_licenses unless lic.blank?%></td>
										<% @total_school_licenses += lic.no_of_licenses  unless lic.blank?%>
										<% @total_school_used_licenses += lic.used_liscenses  unless lic.blank?%>
										<% @total_school_un_used_licenses += (lic.no_of_licenses - lic.used_liscenses) unless lic.blank?%>
										<% @total_schooladmin_licenses += lic.users.un_archived.school_admins.count  unless lic.blank?%>
										<% @total_teacher_licenses += lic.users.un_archived.teachers.count  unless lic.blank?%>
										<% @total_student_licenses += lic.users.un_archived.students.count unless lic.blank?%>
									</tr>
								<%end%>	
								<tr class="total">
										<td><strong>Total:</strong></td>
										<td></td>
										<td><%= @total_schooladmin_licenses%></td>
										<td><%= @total_teacher_licenses%></td>
										<td><%= @total_student_licenses%></td>
										<td><%= @total_school_used_licenses%></td>
										<td><%= @total_school_un_used_licenses%></td>
										<td><%= @total_school_licenses%></td>
									</tr>
							</tbody>			
	  					</table>
	  				<%end%>
	  			</address>
			    <div data-no-turbolink>
			        <%= link_to 'Edit', edit_school_path(@school), class: "btn btn-primary btn-xs" %>
			        <%#=if current_user.role.name.eql?('Web Admin')%>
					    <%= link_to 'Return to School List', schools_path, class: "btn btn-white btn-xs"%>
					<%#=end%>
        	    </div>
		    </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	showHideMenu('li_school');
</script>