<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @school.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @school.district %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @school.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<%#= link_to 'Edit', edit_school_path(@school) %>
<%#= link_to 'Back', schools_path %>
<%= link_to 'Edit', edit_school_path(@school), class: "btn btn-primary width_100px", data: { disable_with: 'Saving...' } %>
<%= link_to 'Cancel', schools_path, class: "btn btn-primary width_100px"%>
