<!DOCTYPE html>
<html>
<head>
<title>Books That Grow</title>
<%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <div class="leftpanel">
    <div class="logopanel">
    <h3 style="margin:0"> <%= image_tag("logo.png")%> Books That Grow </h3>
    </div>
    <div class="leftpanelinner">
        <div class="visible-xs hidden-sm hidden-md hidden-lg">   
            <div class="media userlogged">
                <%= image_tag("loggeduser.png", :class=>"media-object")%>
                <div class="media-body">
                    <h4><%=current_user.first_name unless current_user.blank?%></h4>
                </div>
            </div>
            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
              <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
              <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
              <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>
      <h5 class="sidebartitle">    </h5>
      <ul class="nav nav-pills nav-stacked nav-bracket page-sidebar" id="main-menu" data-no-turbolink>
    <!-- <li id="li_dashboard"><%= link_to '<i class="fa fa-home"></i>'.html_safe + "Dashboard", root_path %></li> -->
     <!-- <span class="arrow arrw-pos" container_li="li_dashboard"></span> -->
    <%unless current_user.blank?%>
    <% if current_user.is_web_admin?%>
    <li class="nav-parent" id="li_school"><a href=""><i class="fa fa-building-o"></i> <span>School</span></a>
      <span class="arrow arrw-pos" container_li="li_school"></span>
          <ul class="children">
          <% if can? :create, :schools %>
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add School", new_school_path %></li>
          <%end%>
          <% if can? :read, :schools %>
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "School List", schools_path %></li>
          <%end%>
          </ul>
    </li>
    <li class="nav-parent" id="li_webadmin"><%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe + "Web Admin", root_path %>
      <span class="arrow arrw-pos" container_li="li_webadmin"></span>
          <ul class="children">
		    <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Web Admin", new_user_path(:role_id =>Role.where("name='Web Admin'").last) %></li>
		    <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Web Admin List", users_path(:role_id => Role.where("name='Web Admin'").last) %></li>
        <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Un-archive Web Admins", un_archive_users_list_users_path(:role_id => Role.where("name='Web Admin'").last) %></li>
         </ul>
    </li>
    <li class="nav-parent" id="li_book"><%= link_to '<i class="glyphicon glyphicon-book"></i>'.html_safe + "Books", books_path %>
         <ul class="children">
		   <% if can? :create, :books %>
		     <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Book", new_book_path %></li>
		   <%end%>
		   <% if can? :read, :books %>
		     <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Book List", books_path %></li>
		   <%end%>
       </ul>
    </li>
    <li class="nav-parent" id="li_accessright"><a href=""><i class="glyphicon glyphicon-ban-circle"></i> <span>Access Rights</span></a>
      <span class="arrow arrw-pos" container_li="li_accessright"></span>
          <ul class="children">
			<% if (can? :create, :accessrights) && (can? :update, :accessrights) && (can? :read, :accessrights) %>  
          <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Assign Access Right", new_accessright_path %></li>
			    <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Access Right List", accessrights_path %></li>
      <%end%>
		  </ul>
    </li>
	<!-- <li class="nav-parent" id="li_search"><a href=""><i class="glyphicon glyphicon-search"></i> <span>Search</span></a>
        <span class="arrow arrw-pos" container_li="li_search"></span>
	    <ul class="children">
		    <li><%#= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "User Search", user_search_users_path %></li>
	    </ul>
	</li> -->
    
    <%else%>
    <li class="nav-parent" id="li_options"><a href=""><i class="fa fa-chevron-circle-down"></i> <span>Options</span></a>
      <span class="arrow arrw-pos" container_li="li_options"></span>
          <ul class="children">
	  <% if (can? :create, :accessrights) && (can? :update, :accessrights) && (can? :read, :accessrights) %>  
          <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Assign Access Right", new_accessright_path %></li>
	  
	        <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Access Right List", accessrights_path %></li>
      <%end%>		  
	  <% if can? :create, :books %>
	        <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Book", new_book_path %></li>
	  <%end%>
	  <% if can? :read, :books %>
	        <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Book List", books_path %></li>
	  <%end%>  		  
      <% if (can? :create, :users) && (can? :create_sa, :users) %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add School Admin", new_user_path(:role_id =>Role.where("name='School Admin'").last, :school_id=>current_user.school_id) %></li>
      <%end%>
      <% if (can? :read, :users) && (can? :read_sa, :users) %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "School Admin Listing", users_path(:role_id => Role.where("name='School Admin'").last, :school_id=>current_user.school_id) %></li>
      <%end%>
      <% if (can? :create, :users) && (can? :create_teacher, :users) %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Teacher", new_user_path(:role_id =>Role.where("name='Teacher'").last, :school_id=>current_user.school_id) %></li>
      <%end%>
      <% if (can? :read, :users) && (can? :read_teacher, :users) %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Teacher Listing", users_path(:role_id => Role.where("name='Teacher'").last, :school_id=>current_user.school_id) %></li>
      <%end%>
      <% if (((can? :destroy, :users) && (can? :destroy_student, :users)) || ((can? :destroy, :users) && (can? :manage_student, :users))) %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Student", new_user_path(:role_id =>Role.where("name='Student'").last, :school_id=>current_user.school_id) %></li>
      <%end%>
      <% if ((can? :read, :users) && (can? :read_student, :users)) || ((can? :read, :users) && (can? :manage_student, :users)) %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Student Listing", users_path(:role_id => Role.where("name='Student'").last, :school_id=>current_user.school_id) %></li>
      <%end%>
      <% if can? :create, :classrooms %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Classroom", new_classroom_path(:school_id => current_user.school_id) %></li>
      <%end%>
      <% if can? :read, :classrooms %>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Classroom Listing", classrooms_path(:school_id => current_user.school_id) %></li>
      <%end%>
      <% if can? :create, :licenses%>  
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add License", new_license_path(:school_id => current_user.school_id) %></li>
      <%end%>
      <!-- <%#= if can? :read, :licenses %>  
            <li><%#= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Licenses Listing", licenses_path(:school_id => current_user.school_id) %></li>
      <%#=end%> -->
          </ul>
    </li>
    <%end%>
    <%end%>
      </ul>
    </div>
  </div>
  <div class="mainpanel">
    <div class="headerbar" data-no-turbolink>
      <!-- <a class="menutoggle"><i class="fa fa-bars"></i></a> -->
      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= image_tag("loggeduser.png")%>
        <%=current_user.first_name unless current_user.blank?%>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
        <%unless current_user.blank?%>  
        <% if current_user.role.name.eql?('Web Admin')%>  
            <li><%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe + "My Profile", user_path(current_user, :role_id=>current_user.role_id) %></li>  
			  <%else%>
            <li><%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe + "My Profile", user_path(current_user, :role_id=>current_user.role_id, :school_id=>current_user.school_id) %></li>  
        <%end%>
        <%end%>
        <li><%= link_to '<i class="fa fa-lock increase_size"></i>'.html_safe + "Change Password", '', :class=>"change_password", data: { toggle: "modal", target: "#changePassword", input: current_user.id} %></li>
        <li><%= link_to '<i class="glyphicon glyphicon-log-out"></i>'.html_safe + "Log Out", signout_path, method: :delete %></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="contentpanel"> 

  <%= render 'breadcrumb/breadcrumb' %>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"> <%= value %>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    </div>
  <% end %>

  <%=yield %>
    </div>
  </div>
</section>
<%#= debug(params) if Rails.env.development? %>
</body>
</html>



<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="modal-body">
		  <div id="change_user_password_info"></div>
	  </div>
    </div>
  </div>
</div>	


<script type="text/javascript">
$( ".change_password" ).click(function() {
          jQuery.get("<%=url_for(:controller=>'users',:action=>'change_user_password')%>",{ id : $(this).attr('data-input'), role_id:<%=current_user.role_id%>},
function(data) {
		if(data)
              {
			   jQuery("#change_user_password_info").html(data);
             }
      });
});

$(document).ready(function(){
$('#changePassword').click(function() {
	$(".form_validation").validate({
		rules: {
			"user[password]":{ minlength: 5, required: true} ,
			"user[password_confirmation]":{ minlength: 5, required: true, equalTo: "#user_password"} 
		},
		messages: {
			"user[password]":{
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long."
			},
			"user[password_confirmation]": {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long.",
				equalTo: "Please enter the same password as above."
			}
		}
		});
});
});
</script>