<!DOCTYPE html>
<html>
<head>
<title>Books That Grow</title>
<link rel="shortcut icon" href="favicon.png" type="image/png">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<section>
  <div class="leftpanel">
    <div class="logopanel">
        <h1><span>[</span> BTG <span>]</span></h1>
    </div>
    <div class="leftpanelinner">
        <div class="visible-xs hidden-sm hidden-md hidden-lg">   
            <div class="media userlogged">
				<%= image_tag("loggeduser.png", :class=>"media-object")%>
                <div class="media-body">
                    <h4><%=current_user.first_name%></h4>
                </div>
            </div>
            <h5 class="sidebartitle actitle">Account</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
              <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
              <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
              <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>
      <h5 class="sidebartitle">    </h5>
      <ul class="nav nav-pills nav-stacked nav-bracket page-sidebar id="main-menu"" data-no-turbolink>
		<li id="li_dashboard"><%= link_to '<i class="fa fa-home"></i>'.html_safe + "Dashboard", root_path %></li>
		 <span class="arrow arrw-pos" container_li="li_dashboard"></span>
		<li class="nav-parent" id="li_school"><a href=""><i class="glyphicon glyphicon-book"></i> <span>School</span></a>
			<span class="arrow arrw-pos" container_li="li_school"></span>
          <ul class="children">
		      <% if can? :create, School %> 
			      <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add School", new_school_path %></li>
			  <%end%>
			  <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "School Listing", schools_path %></li>
          </ul>
        </li>
		<% if current_user.role_id.eql?(1)%>
		<li class="nav-parent" id="li_webadmin"><%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe + "Web Admin", root_path %>
			<span class="arrow arrw-pos" container_li="li_webadmin"></span>
          <ul class="children">
             <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Web Admin", new_user_path %></li>
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Web Admin Listing", users_path %></li>
          </ul
        </li>
		<li class="nav-parent" id="li_accessright"><a href=""><i class="glyphicon glyphicon-ban-circle"></i> <span>Access Rights</span></a>
			<span class="arrow arrw-pos" container_li="li_accessright"></span>
          <ul class="children">
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Add Access Right", new_accessright_path %></li>
            <li><%= link_to '<i class="fa fa-caret-right"></i>'.html_safe + "Access Right Listing", accessrights_path %></li>
          </ul
        </li>
		<%end%>
      </ul>
    </div>
  </div>
  <div class="mainpanel">
    <div class="headerbar">
      <a class="menutoggle"><i class="fa fa-bars"></i></a>
      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<%= image_tag("loggeduser.png")%>
				<%=current_user.first_name%>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
				<li><%= link_to '<i class="glyphicon glyphicon-log-out"></i>'.html_safe + "Log Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="contentpanel">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"> <%= value %>
        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        	</div>
	<% end %>
	<%=yield %>
    </div>
  </div>
</section>
</body>
</html>
